<div class="container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="doResetPassword($event)">
        <input formControlName="username" type="text" placeholder="Username">
        <input formControlName="temppassword" type="text" placeholder="Temporary Password">
        <input formControlName="newpassword" type="text" placeholder="New Password">
        <input formControlName="confirmpassword" type="text" placeholder="Confirm Password">
        <a href="#"><button type="submit">Reset Password</button></a>
    </form>
</div>