<div class="page-title">
  <h1>Organization</h1>
</div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel: Organization -->
    <div class="col s8" id="left-col">
      <div class="content  sidebar-wrapper" *ngIf="organization">
        <div class="row single-info">
          <div class="col s6 m3 l3">
            <div class="info-avatar z-depth-2" *ngIf="organization.logoUrl"><img [src]="organization.logoUrl"></div>
            <div class="info-avatar z-depth-2" *ngIf="!organization.logoUrl"><img [src]="constantsService.defaultLogo"></div>
          </div>
          <div class="col s12 m9 l9">
            <div class="row">
              <div class="col s12">
                <h1 class="content-title" *ngIf="organization">{{organization.name}}</h1>
              </div>
              <div class="col s12" *ngIf="organization.websiteUrl">
                <a [href]="organization.websiteUrl" target="_blank">Website: {{organization.websiteUrl}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12 l7">
                <div class="row">
                  <div class="col s12">Category: {{categoryName}}</div>
                  <div class="col s12">Location:
                    <span class="state" *ngIf="organization.state">{{organization.state}}, </span>
                    <span class="state">{{organization.country}}</span>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="row" *ngIf="organization.status === 'P'">
                  <div class="col s12">
                    <div class="project-marked">
                      <svg class="icon">
                        <use xlink:href="../../assets/applied-bookmarked-sprite.svg#applied-symbol"></use>
                      </svg>
                      <span>Pending Approval</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col m12">
            <div class="info-title">Introduction</div>
            <div class="info-description">{{ organization.description }}</div>
          </div>
          <div class="col m12">
            <div class="col s12 action-btns">
              <a class="btn" *ngIf="displayEdit" (click)="edit()">Edit</a>
              <a class="btn" *ngIf="displayDelete" (click)="delete()">Delete</a>
              <button class="btn waves-effect waves-light" *ngIf="displayApprove" (click)="approve()">Approve</button>
              <button class="btn waves-effect waves-light" *ngIf="displayApprove" (click)="decline()">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Panel: Projects from the organization -->
    <div class="col m4" id="right-col">
      <div class="sidebar">
        <div class="section" *ngIf="projects">
          <h4>Contact</h4>
          <div class="section-body-organization">
            <div class="card">
              <div class="card-content">
                <div class="row single-info" *ngIf="user">
                  <div class="col m4">
                    <div class="info-avatar" *ngIf="user.avatarUrl"><img class='circle' [src]="user.avatarUrl"></div>
                    <div class="info-avatar" *ngIf="!user.avatarUrl"><img class='circle' [src]="constantsService.defaultAvatar"></div>
                  </div>
                  <div class="col m8" *ngIf="user">
                     <p class='user-name'>
                       <i class="material-icons icon-tiny">person</i>
                      <span *ngIf="user.firstName && user.publishFlag"  [routerLink]="['/user/view',user.id]">{{user.firstName + ' ' + user.lastName}}</span>
                     </p>
                     <p class='user-name'>
                      <span *ngIf="user.firstName && !user.publishFlag">{{user.firstName}},{{user.lastName}}</span>
                    </p>
                    <p><i class="material-icons icon-tiny">title</i>{{user.title}}</p>
                    <p><i class="material-icons icon-tiny">phone</i>{{user.phone}}</p>
                    <p><i class="material-icons icon-tiny">email</i>{{user.email}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h4 *ngIf="projects">Projects ({{projects.length}})</h4>
          <div class="section-body-project" *ngIf="!projects">
              <ul>
                  <li class="card-wrapper">
                      <div class="card">
                          <div class="card-content">
                            <div class="row single-info">
                            </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="section-body-project" *ngIf="projects?.length == 0">
              <ul>
                  <li class="card-wrapper">
                      <div class="card">
                          <div class="card-content">
                            <div class="row single-info">
                            </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="section-body-project" *ngIf="projects?.length > 0">
            <div class="items-list-wrapper">
              <ul>
                <li class="card-wrapper" *ngFor="let pr of projects.slice(0,5)">
                  <my-project-card-small [project]="pr"></my-project-card-small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirm Organization Deletion</h4>
    <p>Are you sure you want to delete the organization?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="delete()">Yes</a>
  </div>
</div>
