@import "../../variables";

.sidebar .section .section-body {
  padding: 0px;
  border: none;

  ul {
    margin: 0;
    li {
      border: solid $line-sep-width $line-sep-color;
      margin-top: 0.5em;
      margin-bottom: 1em;
      .card {
        box-shadow: none;
        margin-top: 0;

        .card-header {
          background-color: $sec-bg-color;
          h5 {
            line-height: 40px;
            padding-left: 20px;
          }
        }
        .card-content {
          background-color: $section-bg-color;
        }
      }
    }
  }
}

.subtitle {
  font-style: italic;
}

.single-info {
  h4 {
    font-size: 1.15em;
    font-weight: bold;
  }
  .left-col {
    border-right: solid $line-sep-width $line-sep-color;
  }

  .right-col {
    border-left: solid $line-sep-width $line-sep-color;
    margin-left: - $line-sep-width;
  }

  .info-avatar {
    text-align: center;
    img {
      width: 100%;
    }
  }
  .info-description {
    border: solid $line-sep-width $line-sep-color;
    padding: 25px;

  }
}

.content-wrapper, .sidebar-wrapper {
  padding-top: 0;
}

//Unused styles
//.action-btns {
//  text-align: center;
//  padding-top: 1em;
//  padding-bottom: 1em;
//}

