@import "../../_style/app.theme";

.subtitle {
  font-style: italic;
}

.subtitle {
  width: 100%;
  padding-left: 2em;
  .names {
    font-size: 1.5em;
    font-weight: bold;  
  }
  .metainfo {
    padding-top: 1em;
    padding-bottom: 1em;
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 2em;
    }
  }
}