.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
.projects-block .row{
  margin-right: 0;
  margin-left: 0;
}
.projects-block > p {
  padding-left: 20px;
}
.projects-block .card a:hover {
  text-decoration: underline;
}
.share-button-block {
  position: relative;
}
.share-button-block .fixed-action-btn {
  position: absolute;
  right: 20px;
}
.btn.share-btn {
  padding: 0 1rem;
}
.fixed-action-btn.horizontal ul {
  right: 120px;
}
.fixed-action-btn.horizontal ul li {
  margin-top: 0;
}
.btn-floating {
  text-align: center;
}
.btn-floating:hover {
  background-color: #2bbbad;
}



