<div class="title"> Our Stories</div>
<div class="cards-container">
  <div class="separator volunteer">VOLUNTEER STORIES</div>
    <div class="story-card" >
      <div class="story-card-container">
        <div class="organization-image" style="margin-bottom: 1em;">
          <img [src]="story.imageUrl" onError="this.src='../../assets/default_image.png'">
        </div>
        <div class="text" [textContent]="story.author"></div>
        <div class="text" [textContent]="story.authorInfo"></div>
        <div class="text" [textContent]="story.title"></div>
      </div>
      <a href="stories/view/{{story.id}}">
        <div class="card-read-story-bar organization"><- Previous Volunteer Stories</div>
      </a>
    </div>
    <div class="description-container">
      <div class="description-card">
          <p>
              ID: {{story.id}}
            </p>
            <p>
              TITLE: {{story.title}}
            </p>
            <p>
              TYPE: {{story.author}}
            </p>
            <p>
              DESC: {{story.title}}
            </p>
      </div>
      <a class="back-stories-container" href="#">
        <div class="back-stories-icon previous round"><</div>
        <div class="back-stories-text">BACK TO OUR STORIES</div>
      </a>
      <my-shared-btn [displayShare]="true" [project]="story"></my-shared-btn>
  </div>
</div>

