<div class="container">
    <h4>9 volunteer opportunities found</h4>
</div>

<!-- List Projects-->
<div class="container">
<ul class="projects">
    <li *ngFor="let project of projects" (click)="onSelect(project)" [class.selected]="project === selectedProject">
        <tr>
            <td><img src={{project.image}} height="200" width="200"></td>
            <td>
                <span><h5>{{project.name}}</h5></span><br>          
                <span>{{project.organizationId}}</span><br>
                <span>{{project.description}}</span><br>
                <span>{{project.createTime}}</span><br>
                <span><button class="delete" (click)="delete(project); $event.stopPropagation()">DELETE</button></span>
            </td>
        </tr>
    </li>
</ul>
</div>

<!-- Add Project-->
<div class="container">
	<h3>Add Project</h3>
	<div>
	    <label>Project Name:</label> 
	    <input #projectName /> 
	    <label>Project Description:</label> 
	    <input #projectDescription /> 
	    <label>Project Image:</label> 
	    <button>Upload</button>
	    <br><br>
	    <button (click)="add(projectName.value); projectName.value=''">Add Project</button>
	</div>
</div>
