
<nav [ngClass]="isAtHome()">
  <div class="nav-wrapper"><a class="brand-logo" [routerLink]="'/'"><img src="assets/logo.png" height="90"></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/project/list/opportunities" routerLinkActive="active">Opportunities</a></li>
      <li><a routerLink="/user/list" routerLinkActive="active">Volunteers</a></li>
      <li><a routerLink="/organization/list" routerLinkActive="active">Organizations</a></li>
      <li><a class="dropdown-button" materialize="dropdown" data-beloworigin="true" data-hover="true" data-activates="dropdowncommunity">Community<i class="material-icons right">arrow_drop_down</i></a>
        <ul class="dropdown-content" id="dropdowncommunity">
          <li><a target="_blank" href="http://join-our-slack.code4socialgood.org/">Chat</a></li>
          <li><a target="_blank" href="http://forum.code4socialgood.org/">Forum</a></li>
          <li><a id="about" routerLink="/about" routerLinkActive="active">About Us</a></li>
        </ul>
      </li>
      <li *ngIf="authSvc.authenticated()"><a class="dropdown-button" materialize="dropdown" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdownproject">{{authSvc.getCurrentDisplayName()}}<i class="material-icons right">arrow_drop_down</i></a>
        <ul class="dropdown-content" id="dropdownproject">
          <li><a routerLink="/user/edit/{{currentUserId}}" routerLinkActive="active">My Settings</a></li>
          <li *ngIf="authSvc.isOrganization() &amp;&amp; organizationId != undefined"><a [routerLink]="['organization/edit', organizationId]" routerLinkactive="active">My Organization</a></li>
          <li *ngIf="authSvc.isOrganization() &amp;&amp; organizationId == undefined"><a [routerLink]="['organization/edit', 0]" routerLinkactive="active">My Organization</a></li>
          <li *ngIf="!authSvc.isAdmin()"><a routerLink="/project/list/myProjects" routerLinkActive="active">My Projects</a></li>
          <li *ngIf="authSvc.isAdmin()"><a routerLink="organization/edit/0" routerLinkActive="active">Create Organization</a></li>
          <li *ngIf="!authSvc.isVolunteer()"><a routerLink="project/edit/0" routerLinkActive="active">Create Project</a></li>
        </ul>
      </li>
      <li><a class="log-reg" routerLink="" (click)="authSvc.login()" *ngIf="!authSvc.authenticated()">Log In</a></li>
      <li><a class="log-reg" routerLink="" (click)="authSvc.logout()" *ngIf="authSvc.authenticated()">Log Out</a></li>
    </ul>
  </div>
</nav>
