@import "../_style/variables";
@import "../_style/app.theme";
.navbar-fixed{
  z-index:999;
}
#sidenav-overlay {
  z-index: 996;
  }

.side-nav{
  top:14%;
 }
.at-home {
  // position: fixed;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  box-shadow: none;
  border: none;
  .brand-logo {
    height: 80%;
    margin: 0px 20px;
  }
  ul {
    border-bottom: 2px solid #84C44C;
    li {
      background-color: transparent;
      a {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: bold;
        border-color: none;
        background-color: transparent;
        border: none;
        white-space: nowrap;
        &:hover {
          border-color: $navbar-border-color;
        }
        &.active {
          color: $navbar-fg-color;
        }
      }
    }
    .dropdown-content {
      background-color: gray;
      li {
        background-color: transparent;
        a {
          //border-color: none;
          background-color: transparent;
         // &:hover:after {
           // background-color: rgba(255,255,255,0.95);
           &:hover {
            border-color: $navbar-fg-color;
            background-color: rgba(255,255,255,0.95);
          }
        }
      }
    }
  }
}

.off-home {
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
  box-shadow: none;
  border: none;
  margin-top: 0;
  .brand-logo {
    height: 60%;
    margin: 0px 20px;
  }
  ul {
      li {
      background-color: transparent;
      a {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: bold;
        border-color: none;
        background-color: transparent;
        &:hover {
          border-color: $navbar-border-color;
        }
        &.active {
          color: $navbar-fg-color;
        }
      }
    }
    .dropdown-content {
      background-color: gray;
      li {
        background-color: transparent;
        a {
          //border-color: none;
          background-color: transparent;
          &:hover {
            border-color: $navbar-fg-color;
            background-color: rgba(255,255,255,0.95);
          }
        }
      }
    }
  }
}

ul.right.hide-on-med-and-down{
  height: 100%;
  &*{
    box-sizing: border-box;
  }
  .nav-link-container{
    height: 100%;
    position: relative;

    .hidden-link{
      display: none;
    }

    &.active > .active-header-icon{
      display: block;

      &.left-neg-24pc{
        left: -24.7%;
      }
    }

    .active-header-icon{
      left: 0;
      right: 0;
      margin: auto;
      max-width: 40px;
      position: absolute;
      top: 18px;
      display: none;
    }

    .profile-img{
      left: -50px;
      right: 0;
      margin: auto;
      max-width: 35px;
      position: absolute;
      top: 25px;
    }


    .nav-link{
      line-height: normal;
      height: 100%;
      margin: 0;

      i{
          margin-right: 0;
      }

      span, i{
        top: 60%;
        position: relative;
        transform: translateY(-40%);
        display: block;

        &.left{
          float: left;
        }
      }
    }

    .nav-link.dropdown-button *{
      line-height: normal;
      height: auto;
    }

    .dropdown-content-width{
        min-width: 180px;
     }
  }
}


