<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col s4 m4 left">
        <div class="row">
          <p><span class="column-top">ABOUT</span></p>
          <p class="topContent"><a target="_top" id="about" routerLink="/about" routerLinkActive="active">About Us</a></p>
          <p class="topContent"><a target="_top" id="ourstories" routerLink="/stories" routerLinkActive="active">Our Stories</a></p>
          <p class="topContent"><a target="_top" id="help" routerLink="/help" routerLinkActive="active">Help</a></p>
          <p class="topContent"><a target="_top" id="contact" routerLink="/contact" routerLinkActive="active">Contact Us</a></p>
        </div>
      </div>
      <div class="col s4 m4">
        <div class="row">
          <p><span class="column-top">COMMUNITY</span></p>
          <p class="topContent"><a target="_top" class="column-item" routerLink="/appreciations" routerLinkActive="active">Volunteer Heroes</a></p>
          <p class="topContent"><a target="_top" class="column-item" routerLink="/consultants" routerLinkActive="active">Consultants</a></p>
          <p class="topContent"><a target="_top" class="column-item" routerLink="/partners" routerLinkActive="active">Partners</a></p>
          <p class="topContent"><a target="_blank" href="http://forum.code4socialgood.org/">Forum</a></p>
          <p class="topContent"><a target="_blank" href="http://join-our-slack.code4socialgood.org/">Chat</a></p>
        </div>
      </div>
      <div class="col s4 m4">
        <div class="row">
          <div class="row">
            <p><span class="column-top">CODE FOR SOCIAL GOOD</span></p>
            <p>501(c)(3) Nonprofit Organization</p>
          </div>
        </div>
        <div class="row">
          <div class="wrapper">
            <ul>
              <li><a class="mdi mdi-email mdi-24px mdi-light" href="mailto:info@code4socialgood.org"></a></li>
              <li><a class="mdi mdi-linkedin-box mdi-24px mdi-light" name="linkedin" href="https://www.linkedin.com/company-beta/16227162/"
                  target="_blank"></a></li>
              <li><a class="mdi mdi-facebook-box mdi-24px mdi-light" name="facebook" href="https://www.facebook.com/Code-For-Social-Good-1958785384148556/"
                  target="_blank"></a></li>
              <li><a class="mdi mdi-twitter-box mdi-24px mdi-light" name="twitter" href="https://www.twitter.com/code4socialgood"
                  target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
