.wrapper {
  /*display: flex;
  flex-direction: column;
  //align-items: center;
  p {
    font-size: 1rem;
  }*/

  margin-left:-10px;

    ul {
      margin: 0;
      //text-align: center;
      li {
        display: inline-block;
        line-height: 50px;
        color: #fff;
        }
    }

}

.footer{
    background-color: #4B4B4C;
    p{
        color: #fff;
        //text-align: center;
    }
    a{
      color: #fff;
      //text-align: center;
    }
}
