<div class="row">
  <!-- Search -->
  <div class="col m4 s12">Search
    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete: TODO</label>
          <a href="http://materializecss.com/forms.html#autocomplete">to autocomplete</a>
        </div>
        
        <br>
        <div class="divider"></div><br>
        <span class="title">Titles</span>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
          <label for="filled-in-box">Title 1</label>
        </p>

        <div class="divider"></div><br>
        <span class="title">Skills</span>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
          <label for="filled-in-box2">Skill 1</label>
        </p>

        <div class="divider"></div><br>
        <span class="title">TODO</span>
        <ul>
          <li>-- Hook up titles and skills to dummy data</li>
          <li>-- Add click handler when skill is selected (or form???) to pass through results</li>
          <li>-- Update # volulnteers</li>
          <li>-- Pagination</li>
          <li>-- Autocomplete: search for user name</li>
          <li>-- </li>
          <li></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Volunteer List -->
  <div class="col m8 s12">
    <!-- TODO: wire this up -->
    <h5>XXX volunteers found</h5><br>

    <ul class="collection">
      <li *ngFor="let user of users" class="collection-item avatar">
        <img *ngIf="user.photo" src="{{user.photo}}" alt="" class="circle">
        <i *ngIf="!user.photo" class="material-icons circle green accent-4 bigger">mood</i>
        <div class="row userRow">
          <div class="col m6 s12">
            <span class="title">{{user.firstName + ' ' + user.lastName}}</span>
          </div>
          <!-- TODO: Add city when available -->
          <div class="col m6 s12">
            {{user.state + ', ' + user.country}}
            <br>
            <!-- TODO: Add joined date when available -->
            Joined "To Do (date)..."
          </div>
        </div>
        <div class="row userRow">
          <div class="col m12">
            <div class="chip blue lighten-5">Title</div>
            <div class="chip red lighten-5">Skills</div>
          </div>
        </div>

      </li>
      <!-- TODO: Remove eventually -->
      <li class="collection-item avatar">
        <i class="material-icons circle">sentiment very satisfied</i>
        <span class="title">Title</span>
        <p>First Line <br> Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>

    <!-- TODO: Add Pagination-->
    TODO: Pagination
  </div>
</div>
