@import "../../_style/app.theme";

.project-list{
    height:auto;
}

.skills-list{
    height:auto;
}

.info{
  margin-left:15px;
}

.card-info .card-header .card-metainfo.location {
  text-align: right;
  margin-left: -1em;
}

.card-info .card-header {
  margin-bottom: .5em;
}