
<div class="container">
  <div class="row main-row">
    <div class="col m4" id="left-col">
      <div class="sidebar-wrapper">
        <form class="sidebar" [formGroup]="filterForm" (ngSubmit)="getOrganizations()">
          <div class="section">
            <h4>Keyword</h4>
            <div class="input-search">
              <div class="input-field keyword-field">
                <input id="name" name="keyword" materialize="autocomplete" type="search" formControlName="keyword">
                <label for="name">Keyword</label>
                <button class="keyword-form__btn" type="submit" class="keyword-field__btn btn waves-effect waves-light green darken-2">
                  <i  class="large material-icons transparent">search</i>
                </button>
                </div>
            </div>
          </div>
          <div class="section">
            <h4>Opportunities</h4>
            <div class="section-body">
              <input type="checkbox" id="openOpportunity" formControlName="hasOpportunities"/>
              <label for="openOpportunity">Has Open Opportunities</label>
            </div>
          </div>
          <div class="section">
            <h4>Category</h4>
            <div class="section-body">
              <div class="categories-list-wrapper">
                <ul formArrayName="categories">
                  <li *ngFor="let category of categories, let i = index">
                    <input class="filled-in" type="checkbox" [id]="category.name" formControlName="{{i}}">
                    <label [for]="category.name">{{category.name}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col m8" id="right-col">
      <div class="content-wrapper">
        <div class="content" *ngIf="organizations">
          <div class="row">
            <h1 class="main-title"><span class="index-prefix">{{organizations.length}}</span>organizations found</h1>
            <div class="col s12">
              <div class="items-list-wrapper">
                <ul *ngIf="organizations">
                  <li class="card-wrapper" *ngFor="let org of organizations | paginate: {itemsPerPage: 10, id: 'orgsList', currentPage: p, totalItems: totalItems}; let i = index">
                    <div class="card">
                      <div class="card-header">
                        <h4 [routerLink]="['/organization/view/'+org.id]">{{org.name}}</h4>
                        <div class="card-metainfo">
                          <span class="state" *ngIf="org.state">{{org.state}}, </span>
                          <span class="state">{{org.country}}</span>
                        </div>
                      </div>
                      <div class="card-content">
                        <div class="card-avatar"><img [src]="org.logoUrl" *ngIf="org.logoUrl"></div>
                        <div class="card-info">
                            <p class="description"><span>{{org.opportunities}}</span> opportunities</p>
                          <p class="description">{{ org.description }}</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pagination">
              <pagination-controls (pageChange)="p = $event" id="orgsList" autoHide="false"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
