@import "../../variables";
#left-col {
	padding-right: 5px;
	.sidebar {
	  margin-top: 105px;
	  margin-right: 7px;
	  .section {
	    padding-top: 0px;
	    margin-top: 15px;
	    border: 1px solid #009c7b;
	    background: #009c7b;
	    h4 {
	      font-size: 1.15em;
	      background: -webkit-linear-gradient(left top, rgb(0, 156, 123), rgb(0, 185, 145));
	      background: -o-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 185, 145));
	      background: -moz-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 185, 145)); 
	      background: linear-gradient(to bottom right, rgb(0, 156, 123), rgb(0, 185, 145));
	      color: #fff;;
	      margin: 0 0 0 0;
	      padding-left: 35px;
	      line-height: 50px;
	      font-weight: bold;
	      border-bottom: solid 1px #00775e;
	    }
	    .input-search {
	      	padding: 40px 10px 10px 10px;
			
	      #keyword {
	        height: 45px;
	        border: #ffb645 1px solid;
	        border-top: #ffb645 1px solid;
	        background: #fff;
	        border-radius: 0 0 0 5px;
	      	}
	      #keyword-button {
	        height: 47px;
	        border-left:  #ffb245 2px solid;
	        border-right: #ff7934 2px solid;
	        border-top: #ffb645 2px solid;
	        border-bottom: #ff7934 2px solid;
	        padding-top: 5px;
	        padding-bottom: 5px;

	        background: -webkit-linear-gradient(left top, rgb(255, 182, 69), rgb(255, 121, 52));
	      	background: -o-linear-gradient(bottom right, rgb(255, 182, 69), rgb(255, 121, 52));
	      	background: -moz-linear-gradient(bottom right, rgb(255, 182, 69), rgb(255, 121, 52)); 
	      	background: linear-gradient(to bottom right, rgb(255, 182, 69), rgb(255, 121, 52));
	        border-radius: 0 5px 0 0;
	      }
	      #keyword-icon {
	        color: #fff;
	      }
	    }
	
	    &:first-of-type {
	      margin-top: 0px;
	    }
	
	    .section-body {
	      padding: 25px;
	      h5 {
	        cursor: pointer;
	        font-size: 1em;
	        font-weight: bold;
	        color: $main-color;
	        margin: 0;
	        padding: 0;
	      }
	      .skills-list-wrapper {
	        ul {
	          list-style: none;
	          display: inline-block;
	          li {
	            display:inline-block;
	            float: left;
	            min-width: 50%;
	            margin-left: -5px;
	            padding-left: 5px;
	            label {
	              font-size: 0.85em;
	              color: #fff;
	              &:after {
	                top: 5px;
	                width: 15px;
	                height: 15px;
	                border: #ffb645 1px solid;
	                background: #fff;
	              }
	            }
	            input:checked + label:after {
	              background-color: #009c7b;
	            }
	          }
	        }
	      }
	    }
	  }
	}
	.sidebar:after {
	  content: '';
	  display: block;
	  clear: both;
	}
}
#right-col {
	padding-left: 5px;
  .content {
	  padding-bottom: 50px;
	  .main-title {
	    color: $main-color;
	    line-height: 50px;
	    font-size: 1.15em;
	    font-weight: bold;
	    margin: 0;
	    padding-left: 50px;
	    padding-top: 15px;
	    .index-prefix {
	      margin-right: 2em;
	    }    
	  }
	  .items-list-wrapper  {
	    .card-list {
	      .card-wrapper {
	        display: inline-block;
	        padding: 15px 10px;
	        width: 100%;
	        .card {
	          width: 100%;
	          max-height: 250px;
	          overflow: hidden;
	          border: none;
	          margin: 10px 0;
	          border: 2px solid #71a841;
	          .card-content {
	            padding: 0;
	            .card-avatar-wrapper {
	            	padding: 0;
	            	width: 20%;
	            	float: left;
	            	height: 100%;
	            	display: inline-block;
	            	.card-avatar {
	            		position: relative;
	            	  	display: inline-block;
	            	  	overflow: hidden;
	            	  	left: 10%;
	            	  	margin-top: 10%;
	            	  	top: 12%;
	            	  	width: 80%;
	            	  	box-shadow: 1px 1px 2px;
	            	  	border-radius: 3px;
	            	  &:before {
	            			content: "";
	            			display: block;
	            			float: left;
	            			padding-bottom: 100%;
	            			background: #000;
	            		}
	            	  .card-avatar-content {
	            	    overflow: hidden;  
	            	    width: 100%;
	            	    height: 100%;
	            	    object-fit: cover;
	            	    position: absolute;
	            	    left: 0;
	            	    background: -webkit-linear-gradient(left top, rgb(132, 196, 76), rgb(0, 212, 166));
	                	background: -o-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 212, 166));
	                	background: -moz-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 212, 166)); 
	                	background: linear-gradient(to bottom right,rgb(132, 196, 76), rgb(0, 212, 166)); 
	                	&:before {
	                		content: "";
	                		background: #000;
	                		display: block;
	                		width: 100%;
	                		padding-bottom: 100%;
	                	}
	            	  }
	            	}
	            	
	            }
	            
	            
	            .card-right-border {
	              width: 1%;
	              height: 300px;
	              float: right;
	              background: -webkit-linear-gradient(left top, rgb(132, 196, 76), rgb(0, 156, 123));
	              background: -o-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 156, 123));
	              background: -moz-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 156, 123)); 
	              background: linear-gradient(to bottom right, rgb(132, 196, 76), rgb(0, 156, 123)); 
	              border-left: #a8a8a8 solid 1px;
	              display: inline-block;
	            }
	
	            .card-info {
	              width: 79%;
	              float: right;
	              display: inline-block;
	              max-height: 250px;
	              padding: 0px;
	              padding-bottom: 15px;
	              border-left: 1px solid #efefef;
	              .card-header{
	                padding-left: 1vw;
	                padding-right: 35px;
	                .project-name {
	                  cursor: pointer;
	                  display: inline-block;
	                  font-size: 1em;
	                  font-weight: bold;
	                  color: $main-color;
	                  padding: 0;
	                  margin: 0;
	                  line-height: 50px;
	                  width: 100%;
	                  max-height: 20%;
	
	                }
	                .info-row {
	                  margin-bottom: 0;
	                  .card-metainfo {
	                    cursor: pointer;
	                    font-size: 0.9em;
	                    color: $main-color;
	                    .card-location {
	                      margin-left: 1em;
	                      margin-right: 1em;
	                    }
	                  }
	                }
	                hr {
	                  border: 0;
	                  height: 1px;
	                  width: 105%;
	                  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
	                  background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
	                  background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
	                  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
	                }
	              }
	              .discription-wrapper {
	                margin: 10px;
	                overflow: hidden;
	                .description {
	                  text-overflow: ellipsis; 
	                  margin: 0 17px;
	                  font-size: 0.8em;
	                  max-height: 7em;
	                  border-radius: 5px;
	                  color: #585858;
	                }
	              }
	              
	              h5 {
	                font-size: 1em;
	                font-weight: bold;
	                text-align: center;
	                color: $main-color;
	              }
	
	              .skills-list-wrapper {
	                padding: 5px 25px 5px 25px;
	                ul {
	                  .chip {
	                    float: left;
	                    display: inline-block;
	                    color: #fff;
	                    border-radius: 0;
	                    background: -webkit-linear-gradient(left top, rgb(0, 156, 123), rgb(0, 186, 146));
	                    background: -o-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 186, 146));
	                    background: -moz-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 186, 146)); 
	                    background: linear-gradient(to bottom right, rgb(0, 156, 123), rgb(0, 186, 146)); 
	                    text-align: center;
	                    padding: 0;
	                    font-size: 0.7em;
	                    margin: 3px 5px;
	                    padding: 0px 10px;
	                    cursor: pointer;
	                    &:hover {
	                      background: #8dcdc1;
	                    }
	                    &:first-child {
	                    	margin-left: 0;
	                    }
	                  }
	                }
	                &:after {
	                  content: '';
	                  display: block;
	                  clear: both;
	                }
	              } 
	              .card-info-bottom {
	                background-color: $sec-bg-color;
	                padding-left: 25px;
	                vertical-align: bottom;
	                position: absolute;
	                left: 0;
	                right: 0;
	                bottom: 0;
	                .org-name {
	                  cursor:pointer;
	                  line-height: 50px;
	                  font-size: 1em;
	                  font-weight: bold;
	                  text-align:center;
	                  color: $main-color;
	                }
	              }
	            }
	            .card-info:after {
	              content: '';
	              display: block;
	              clear: both;
	            }
	          }
	        }
	      }
	    }
	  }
	}
}

