
<div class="container">
  <div class="row main-row">
    <div class="col m4" id="left-col">
      <div class="sidebar-wrapper">
        <form class="sidebar" [formGroup]="filterForm" (ngSubmit)="getProjects()">
          <div class="section">
            <h4>Keyword</h4>
            <div class="input-search">
              <div class="keyword-field">
                <input id="keyword" name="keyword" materialize="autocomplete" type="search" formControlName="keyword" placeholder="   keyword">
                <label for="keyword"></label>
                <button type="search" class="keyword-field__btn waves-effect waves-light" id="keyword-button">
                  <i  class="material-icons transparent" id="keyword-icon">search</i>
                </button>
              </div>
            </div>
          </div>
          <div class="section">
            <h4>Skills</h4>
            <div class="section-body">
              <div class="skills-list-wrapper">
                <ul *ngIf="skills" formArrayName="skills">
                  <li *ngFor="let skill of skills, let i = index">
                    <input class="filled-in" type="checkbox" [id]="skill.name" formControlName="{{i}}">
                    <label [for]="skill.name">{{skill.name}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col m8 s12" id="right-col">
      <div class="content-wrapper">
        <div class="content" *ngIf="projects">
          <div class="row">
            <h1 class="main-title"><span class="index-prefix">{{projects.length}}</span>opportunities found</h1>
            <div class="col s12">
              <div class="items-list-wrapper">
                <ul class="card-list" *ngIf="projects">
                  <li class="card-wrapper" *ngFor="let project of projects | paginate: {itemsPerPage: 10, id: 'projectsList', currentPage: p, totalItems: totalItems}; let i = index">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-avatar-wrapper"><div class="card-avatar"><img class="card-avatar-content" [src]="project.imageUrl" *ngIf="project.imageUrl"></div></div>
                        <div class="card-right-border">&nbsp;</div>
                        <div class="card-info">
                          <div class="card-header">
                            <div class='project-name'>
                              <span [routerLink]="['/project/view',project.id]">{{project.name}}</span>
                            </div>
                            <div class="row info-row">
                              <div class="org-name col m6">
                                <p [routerLink]="['/nonprofit/view/', project.organizationId]">{{ project.organizationName }}</p>
                              </div> 
                              <div class="card-metainfo col m6">
                                <span class="joined-at">Remote</span> &nbsp;&nbsp;| &nbsp;&nbsp;
                                <span class="joined-at" *ngIf="project.createdTime">Posted: {{project.createdTime | date: 'MMM d, yyyy'}}</span>
                              </div>
                            </div>
                            <hr>                            
                          </div>
                                                  
                          <div class="skills-list-wrapper">
                            <ul>
                              <li class="chip"><span>Javascript</span></li>
                              <li class="chip">Python</li>
                              <li class="chip">Linux Admin</li>
                              <li class="chip">C</li>
                            </ul>
                          </div>
                          <div class="discription-wrapper">
                            <p class="description">{{ project.description }}<a [routerLink]="['/project/view',project.id]">&nbsp;(Learn more)</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pagination">
              <pagination-controls (pageChange)="p = $event" id="projectsList" autoHide="false"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
