<!-- This page is used: -->
<!-- 1. From header, click Projects to display a list of projects with search panl to further filter result-->
<!-- 2. Nonprofit user: click My Projects to display the projects the organization posted-->
<!-- 3. Volunteer user: click My projects to display Bookmarked Projects and Applied Projects -->
<div class="page-title"><h1>Projects</h1></div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel, only display for Projects page-->
    <div class="col m4" id="left-col">
      <div class="sidebar-wrapper" *ngIf="from=='projects'">
        <form class="sidebar" [formGroup]="filterForm" (ngSubmit)="getProjects(1)">
          <div class="row">
            <div class="col s12">
              <div class="section">
                <div class="section-body-keyword">
                  <h4 id="keyword-title" class="col m3 s12">Keyword</h4>
                  <input id="keyword" class="col m6 s9" name="keyword" materialize="autocomplete" type="search"
                         formControlName="keyword" placeholder="   keyword">
                  <button type="search" class="col m3 s3" class="keyword-field__btn waves-effect waves-light"
                          id="keyword-button">
                    <i class="material-icons transparent" id="keyword-icon">search</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="section">
                <h4>Roles</h4>
                <div class="section-body-projects">
                  <div class="projects-list-wrapper">
                    <ul formArrayName="roles">
                      <li *ngFor="let role of roles, let i = index">
                        <input class="filled-in" type="checkbox" [id]="role.name" formControlName="{{i}}">
                        <label [for]="role.name">{{role.name}}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="section">
                <h4>Skills</h4>
                <div class="section-body-skills">
                  <div class="skills-list" myScrollSkills (onScrollEvent)="showSkills()">
                    <ul *ngIf="skills" formArrayName="skills">
                      <li *ngFor="let skill of skillsShowed, let i = index">
                        <input class="filled-in" type="checkbox" [id]="skill.name" [formControlName]="i">
                        <label [for]="skill.name">{{skill.name}}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Right Panel -->
    <!-- 1. Projects Menu Item -->
    <div class="col m8 s12" *ngIf="projects && from === 'projects'" id="right-col">
      <div class="content">
        <div class="row">
          <div class="col s12">
            <h4 class="content-title">{{totalItems | i18nPlural: {'=0': 'No projects', '=1': '1 project', 'other': '# projects'} }} found</h4>
            <div class="items-list-wrapper">
              <ul class="card-list" *ngIf="projects">
                <li class="card-wrapper"
                    *ngFor="let project of projects | paginate: {itemsPerPage: 10, id: 'projectsPages', currentPage: p, totalItems: totalItems}">
                  <my-project-card [project]="project" [userProjectStatus]="defineUserProjectStatus(project.id)" ></my-project-card>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="pagination"><!--
            <pagination-controls (pageChange)="p = $event" id="projectsList" autoHide="false"></pagination-controls>-->
              <pagination-controls (pageChange)="getProjects(p = $event)" id="projectsPages" autoHide="false"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2. Nonprofit User: My Projects Menu Item-->
    <div class="col m8 s12 offset-m2" *ngIf="isNonprofit && from === 'myProjects'" id="right-col">
      <div class="content">
        <!-- Active Projects -->
        <div class="row">
          <div class="col s12">
            <h4 class="content-title">Active Projects</h4>
            <div class="items-list-wrapper">
              <ul class="card-list" *ngIf="activeProjects">
                <li class="card-wrapper" *ngFor="let project of activeProjects">
                  <my-project-card [project]="project"></my-project-card>
                </li>
              </ul>
            </div>
            <div class="row" *ngIf="activeProjects && activeProjects.length == 0">
              <div class="col s12">
                <div class="info">No projects found</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Closed Projects-->
        <div class="row">
          <div class="col s12">
            <h4 class="content-title">Closed Projects</h4>
            <div class="items-list-wrapper">
              <ul class="card-list" *ngIf="closedProjects">
                <li class="card-wrapper" *ngFor="let project of closedProjects">
                  <my-project-card [project]="project"></my-project-card>
                </li>
              </ul>
            </div>
            <div class="row" *ngIf="closedProjects && closedProjects.length == 0">
              <div class="col s12">
                <div class="info">No projects found</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 3. Volunteer User: My Projects Menu Item-->
    <div class="col m8 s12 offset-m2" *ngIf="isVolunteer && from === 'myProjects'">
      <div class="content">
        <!-- Applied Projects -->
        <div class="row">
          <div class="col s12">
            <h4 class="content-title">Applied Projects</h4>
            <div class="items-list-wrapper">
              <ul class="card-list" *ngIf="appliedProjects">
                <li class="card-wrapper" *ngFor="let project of appliedProjects">
                  <my-project-card [project]="project" [userProjectStatus]="'applied'"></my-project-card>
                </li>
              </ul>
            </div>
            <div class="row" *ngIf="appliedProjects && appliedProjects.length == 0">
              <div class="col s12">
                <div class="info">No projects found</div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- Bookmarked Projects-->
        <div class="row">
          <div class="col s12">
            <h4 class="content-title">Bookmarked Projects</h4>
            <div class="items-list-wrapper">
              <ul class="card-list" *ngIf="bookmarkedProjects">
                <li class="card-wrapper" *ngFor="let project of bookmarkedProjects">
                  <my-project-card [project]="project" [userProjectStatus]="'bookmarked'"></my-project-card>
                </li>
              </ul>
            </div>
            <div class="row" *ngIf="bookmarkedProjects && bookmarkedProjects.length == 0">
              <div class="col s12">
                <div class="info">No projects found</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
