.container .row {
  padding-top: 1rem;
}
.form-block {
  padding-right: 20px;
}
form {
  padding: 1em 1.25em;
  background-color: #EEE;
  border-radius: 4px;
}
.form-block .input-field {
  max-width: 300px;
  margin: 0 auto;
  float: none;
}
.form-block button {
  margin-top: 0.4rem;
}
.projects-block {
  margin: 0 0 2em 0;
  list-style-type: none;
}
.projects-block li {
  display: block;
  cursor: pointer;
  position: relative;
  left: 0;
  padding: 1em 0.5em;
  background-color: #EEE;
  border-radius: 4px;
}
.projects-block li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.projects-block .selected {
  background-color: #CFD8DC !important;
  color: white;
}
.projects-block li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.card-content {
  margin-top: 0.5rem;
}
.card-content a{
  display: block;
}
.card-content h5, h6 {
  display: inline-block;
  text-decoration: underline;
  margin-top: 0;
}
.card-content h6 {
  margin-bottom: 0;
}
.card-content-left-side.col, .card-content-right-side.col, .card-content-description {
  padding-left: 0;
}
.card-content-right-side.col {
  padding-right: 0;
}
.card-content-right-side span {
  display: block;
}
.card-content-right-side span:first-child {
  margin: 0.5rem 0 0.656rem;
}
@media screen and (min-width:993px)  {
  .container {
    width: 90%;
  }
  .card-content-right-side {
    float:right;
    text-align: right;
  }
  .card-content-right-side span:first-child {
    margin-top: 0.45rem;
    margin-bottom: 0.656rem;
  }
}

