<!-- Add Project-->
<div class="container">

    <form [formGroup]="createProjectForm" (ngSubmit)="createProject()">
        <div class="row">
            <div class="col s4">
                <label>Project Image</label> 
                <button class="btn waves-effect waves-light">
                    Upload
                </button>
            </div>

            <div class="col s8">
                <div class="input-field">
                    <label for="projectName">Project Name</label> 
                    <input id="projectName"
                           formControlName="name"
                           type="text" /> 
                </div>

                <div class="input-field">
                    <label for="orgName">Organization Name</label> 
                    <input id="orgName"
                           formControlName="orgName"
                           type="text" /> 
                </div>

                <div class="input-field">
                    <label for="shortDescription">Short Description</label> 
                    <textarea id="shortDescription"
                              formControlName="shortDescription"
                              class="materialize-textarea">
                    </textarea>
                </div>

                <div class="input-field">
                    <label for="description">Detailed Description</label> 
                    <textarea id="description"
                              formControlName="description"
                              class="materialize-textarea">
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1">
                    <p *ngIf="!createProjectForm.value.address">
                        <input type="checkbox"
                               id="remote"
                               class="filled-in"
                               formControlName="remote" />
                        <label for="remote">Remote</label>
                    </p>

                    <p *ngIf="!createProjectForm.value.remote">
                        <input type="checkbox"
                               id="address"
                               class="filled-in"
                               formControlName="address" />
                        <label for="address">Physical Address</label>
                    </p>

                    <!-- Address -->
                    <div *ngIf="createProjectForm.value.address">
                    <div class="input-field address">
                        <label for="line1">Address Line 1</label>
                        <input id="line1"
                               type="text"
                               formControlName="line1" />
                    </div>

                    <div class="input-field">
                        <label for="line2">Address Line 2</label>
                        <input id="line2"
                               type="text"
                               formControlName="line2" />
                    </div>
                    
                    <div class="input-field">
                        <label for="city">City</label>
                        <input id="city"
                               type="text"
                               formControlName="city" />
                    </div>

                    <div class="input-field">
                        <label for="state">State</label>
                        <input id="state"
                               type="text"
                               formControlName="state" />
                    </div>

                    <div class="input-field">
                        <label for="country">Country</label>
                        <input id="country"
                               type="text"
                               formControlName="country" />
                    </div>

                    <div class="input-field">
                        <label for="zip">Zip</label>
                        <input id="zip"
                               type="text"
                               formControlName="zip" />
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row btns">
            <div class="col s6">
                <button class="btn waves-effect waves-light" 
                        type="submit"
                        [disabled]="!createProjectForm.valid">
                        Create
                </button>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light">Cancel</button>
            </div>
        </div>
    </form>
</div>
