<div class="about-us-page-title">
  <h1>Our Vision</h1>
</div>
<div class="container">
  <div class="row about-us-content">
    <div class="col s8 offset-s2">
      <div class="problem">
        <h2>Problem</h2>
        <p>So many nonprofits need technical help
          So many volunteers seek technical projects
          But ... why do both struggle to achieve their goals?</p>
      </div>
      <div class="solution">
        <h2>Solution</h2>
        <p>A new technical volunteer model that . . .
          Encourages technical volunteers of all ages, experience levels, and geographic locations to contribute to nonprofit projects
          Fosters a strong, supportive community within the diverse volunteer pool
          Connects volunteers to nonprofits based on their skillsets and interests</p>
      </div>
    </div>
  </div>
</div>
