@import "../_style/app.theme";

.about-us-content {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  p {
    font-size: 1.2rem;
  }
  h2 {
    font-family: Raleway;
    font-weight: 500;
    margin-bottom: -.5rem;
  }
  .problem {
    margin-bottom: 3rem;
  }
}

.section-text{
  text-align: center;
  font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  display: flex;
}

.aboutus-card{
  height: -webkit-fill-available;
}
