.developers_list li {
  display: inline-block;
  margin-right: 10px;
}
.developers_list li:last-child {
  margin-right: 0;
}
agm-map {
   width: 100%;
   height: 500px;
   background-color: rgba(0,0,0,0.5);
}
.content-title{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5px;
  padding-top: 0px;
}
#right-col{
  border: 0;
}

.sebm-google-map-container{

  .info-window{
    width: 100px;
    text-align: center;

    .info-container{
      width: 100%;
      height: 100%;

      .info-avatar{
        width: 80px;
        position: relative;
        padding-bottom: 80px;
        overflow: hidden;
        margin:10px auto 0.75em auto;
        border-radius: 50%;
        border: solid 2px #ccc;

        img{
          width: auto;
          max-width: none;
          height: 100%;
          position: absolute;
          left: -50%;
          right: -50%;
          margin: auto;
        }
      }
    }
  }
}

.about-us-container{
  width: 100%;
  height: 100%;
  background: white;
}
