<div class="page-title-center">
  <h1>About Us</h1>
</div>

<div class="container">

  <div class="row">
    <h2>Our Vision</h2>
    <div class="col s12 m12">
    A strong technical volunteering community with social good missions.
    </div>
  </div>

  <div class="row">
    <h2>Our Mission</h2>
    <div class="col s12 m12">
    To promote and support technical volunteering for social good, with the objective of increasing social impact and fostering personal development through volunteering.
    </div>
  </div>

  <div class="row">
    <h2>Our Values</h2>

    <div class="col s12 m4">
      <div class="grey lighten-5 aboutus-card">
        <img id="card-img" class="responsive-img" [src]="'../../assets/AboutUs_Image1.jpg'"><br>
        <span class="card-title">CONNECT</span>
        <span class="flow-text section-text">
             Connect volunteers to nonprofits based on their skillsets and interests
            </span>
      </div>
    </div>

    <div class="col s12 m4 ">
      <div class="grey lighten-5 aboutus-card">
        <img id="card-img" class="responsive-img" [src]="'../../assets/AboutUs_Image3.jpg'"><br>
        <span class="card-title">OPEN</span>
        <span class="flow-text section-text">
             Encourage volunteers of all ages, experience levels and geographic locations to contribute to nonprofit projects
            </span>
      </div>
    </div>

    <div class="col s12 m4  ">
      <div class="grey lighten-5 aboutus-card">
        <img id="card-img" class="responsive-img" [src]="'../../assets/AboutUs_Image2.jpg'"><br>
        <span class="card-title">SUPPORT</span>
        <span class="flow-text section-text">
            Foster a strong, supportive community within the diverse volunteer pool
            </span>
      </div>
    </div>

    <br><br>

  </div>
  <!--<div class="row about-us-content">
    <div class="col s8 offset-s2">
      <div class="problem">
        <h3>Problem</h3>
        <p>So many nonprofits need technical help<br>
          So many volunteers seek technical projects<br>
          But ... why do both struggle to achieve their goals?</p>
      </div>
      <div class="solution">
        <h3>Solution</h3>
        <p>A new technical volunteering model that . . .<br>
          Encourages volunteers of all ages, experience levels, and geographic locations to contribute to nonprofit projects<br>
          Fosters a strong, supportive community within the diverse volunteer pool<br>
          Connects volunteers to nonprofits based on their skillsets and interests</p>
      </div>
    </div>
  </div>-->
</div>
