.main-container{
  width:100%;
}

.row{
  margin-top:15px;
  padding:10px;
}

h2{
  padding:10px;
  margin:0px;
  color:#84c44c;
  font-size:1.6em;
  font-weight:bold;
  text-transform:Capitalize;
  font-family:raleway;
}

h3{
  padding:10px;
  margin:0px;
  font-weight:italics;
  font-size:1.3em;
  font-family:raleway;
}

p{
  font-size:1rem;
  margin:0px;
  padding:10px;
}

.cards{
  padding:10px;

  .card{
       margin-bottom:20px;
       height:170px;
       overflow:auto;
        }

  .card-title{
        font-size:1.3em;
        font-weight:bold;
        padding:10px;
        //background-color:#84c44c;
        background-color:#84c44c;
         }
}

.container-final{
  margin:30px;
}