.developers_list li {
  display: inline-block;
  margin-right: 10px;
}
.developers_list li:last-child {
  margin-right: 0;
}
agm-map {
   width: 100%;
   height: 500px;
   background-color: rgba(0,0,0,0.5);
}
