<b><h1 style="color:black;" align="center">We the Coders</h1></b>

<br>

<img width="640" src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=640x420&maptype=roadmap&key=AIzaSyD9n6KasSkB0QvESMyH0tL8UhEtxjvEVrs&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7CUnited+States" alt="Code for Social Good Volunteer Locations">

<br>

<div class="ppl_list">
  <img  src="../../assets/avatar.png">
  <img  src="../../assets/avatar.png">
  <img  src="../../assets/avatar.png">
  <img  src="../../assets/avatar.png">
  <img  src="../../assets/avatar.png">
  <img  src="../../assets/avatar.png">
</div>