@import "../../_style/app.theme";

#left-col{
  .single-info{
    .info-avatar{
      border-radius: 50%;

      img{
        max-width: none;
      }
    }
  }
}

 .skills-margin{
   margin-top: 5.5%;
 }

 .skills-enter-own{
   font-size: 0.8rem;
  color: #9e9e9e;
  
 }

 .second-column{
   margin: 0;
 }

 .user-edit-dropdown{
   margin-top: -6px;
 }


.ng-invalid:not(form) {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 0 0 0 #F44336 !important;
}

input[type=text]:focus:not([readonly]).ng-invalid:not(form),
textarea.materialize-textarea:focus:not([readonly]).ng-invalid:not(form) {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
} 

.has-error {
    border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 0 0 0 #F44336 !important;
}


.red-text {
  color: #F44336;
    box-shadow: 0 0 0 0 #F44336 !important;
}