@import "../../_style/app.theme";

#left-col{
  .single-info{
    .info-avatar{
      border-radius: 50%;

      img{
        max-width: none;
      }
    }
  }
}

 .skills-margin{
   margin-top: 5.5%;
 }

 .skills-enter-own{
   font-size: 0.8rem;
  color: #9e9e9e;
  
 }

 .second-column{
   margin: 0;
 }

 .user-edit-dropdown{
   margin-top: -6px;
 }

 .materialize-textarea{
    min-height: 1rem;
    height: 1rem;
 }