<div class="page-title clearfix">
  <h1>My Settings</h1>
</div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel -->
    <div class="col s3" id="left-col">
      <div class="content sidebar-wrapper" >
        <div class="row single-info">
          <h4 id="avatar-title" class="col s12 m12 l12 image-title">My Avatar</h4>
          <div class = "col offset-s8 offset-m8 offset-l8">
            <a *ngIf="avatar" class="btn-small btn-floating grey" (click)="deleteImage()"><i
              class="icon-small material-icons center-align">close</i></a>
          </div>
          <div class="col s12 m12 l7 avatar-container">
            <div class="info-avatar z-depth-2">
              <img class="responsive-img" *ngIf="avatar" id="responsive-img" [src]="avatar">
              <img class="responsive-img" *ngIf="!avatar" id="responsive-img" [src]="constantsService.defaultAvatar">
            </div>
            <div>
              <div class="input-field file-field row">
                <div class="btn image-upload-button center">Upload
                  <input #input type="file" name="file" accept="image/gif, image/jpeg, image/png" (change)="onUploadAvatar($event)">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row single-info" *ngIf="isVolunteer && isUserInfoIncomplete">
          <div class="sidebar-wrapper-divider"></div>
          <div class="col s12 m12 l12 highlight-title">Please complete your user profile before applying for projects.</div>
        </div>
        <div class="row single-info" *ngIf="isOrganization && isUserInfoIncomplete">
          <div class="sidebar-wrapper-divider"></div>
          <div class="col s12 m12 l12 highlight-title">Please complete your user profile before posting projects.</div>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col s9" id="right-col">
      <div class="content">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value, $event)">
          <div class="row">
            <div class="content-title">My Account</div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input [maxlength]="100" class="theme-input" id="userName" formControlName="userName" type="text" required>
                <label for="userName" id="username-label">Username *</label>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input class="theme-input" id="email" formControlName="email" type="email" disabled="true" required>
                <label for="email" id="email-label">Email address *</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input [maxlength]="100" class="theme-input" id="firstName" formControlName="firstName" type="text" required>
                <label for="firstName" id="firstname-label">First Name *</label>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input [maxlength]="100" class="theme-input" id="lastName" formControlName="lastName" type="text" required>
                <label for="lastName" id="lastname-label">Last Name *</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <label for="state" id="state-label">State</label>
                <input [maxlength]="100" class="theme-input" id="state" formControlName="state" type="text">
              </div>
            </div>
            <div class="col s12 m6">
              <label for="country">Country *</label>
              <div class="theme-select dropdown">
                <select class="browser-default" id="country" formControlName="country" materialize="material_select" required >
                  <option disabled selected>Choose country</option>
                  <option  *ngFor="let country of countries" [value]="country.code" [selected]="country.code === user?.country">{{country.name + ' (' + country.code + ')'}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col s12 m6">
                <div class="input-field">
                  <label materialize="tooltip" [materializeParams]="[{html: true}]" data-position="bottom" data-delay="50"  for="githubUrl" id="slack-label"
                  data-tooltip="This is your username in Slack team of Code for Social Good.<br />To join the team, click Chat from the footer on the web site.<br />">C4SG Slack Username <i class="tiny material-icons">info</i></label>
                  <input [maxlength]="25" class="theme-input tootipped" id="chatUsername" type="text" formControlName="chatUsername" >
                </div>
              </div> -->
            <div *ngIf="isOrganization">
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="phone" id="phone-label">Phone</label>
                  <input [maxlength]="16" id="phone" formControlName="phone" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="content-title">My Profile</div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input [maxlength]="100" class="theme-input" id="title" type="text" formControlName="title" placeholder="Web Developer, Project Manager, etc" required>
              <label for="title" id="title-label">Professional Title *</label>
            </div>
            <div *ngIf="isVolunteer" class="theme-select dropdown col s6">
              <label for="jobTitleId">Category </label>
              <!-- <div class="theme-select dropdown">-->
                <select class="browser-default" id="jobTitleId" formControlName="jobTitleId" materialize="material_select">
                   <option value="" disabled selected>Choose Category</option>
                   <option *ngFor="let jobTitle of jobTitlesArray" [value]="jobTitle.id" [selected]="jobTitle.id === user?.jobTitleId">{{jobTitle.jobTitle}}</option>
                </select>
              <!--</div>-->
            </div>
            <div class="input-field col s12" *ngIf="isVolunteer"> <!-- Introductin is mandatory for volunteer user -->
               <textarea id="introduction" [maxLength]="introMaxLength" class="materialize-textarea" required formControlName="introduction"
                      (click)="onCountCharIntro()" (input)="onCountCharIntro()" (focus)="onFocusIntro()"
                      (blur)="onBlurIntro()">
              </textarea>
              <label for="introduction"  id="summary-label">Introduction *
                <span *ngIf="introFieldFocused"> ({{ introValueLength + '/' + introMaxLength }})</span>
              </label>
            </div>
            <div class="input-field col s12" *ngIf="isOrganization"> <!-- Introductin is optional for organization user -->
               <textarea id="introduction" [maxLength]="introMaxLength" class="materialize-textarea" formControlName="introduction"
                      (click)="onCountCharIntro()" (input)="onCountCharIntro()" (focus)="onFocusIntro()"
                      (blur)="onBlurIntro()">
              </textarea>
              <label for="introduction"  id="summary-label">Introduction
                <span *ngIf="introFieldFocused"> ({{ introValueLength + '/' + introMaxLength }})</span>
              </label>
            </div>
          </div>

          <div *ngIf="isVolunteer">
            <div class="row">
              <div class="content-title">My Skills</div>
            </div>
            <div class="row">
              <div class="col s10">
                <my-select-skill [userSkillsArray]="userSkillsArray" (onDeleteSkill)="onDeleteSkill($event)">
                </my-select-skill>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 theme-select dropdown">
                <label for="skillSelect">Choose from popular skills below</label>
                <select class="browser-default" id="skillSelect" materialize="material_select" (change)="onAddListedSkill($event)">
                  <option value="" disabled selected>Choose skills</option>
                  <option *ngFor="let skill of skillsArray" [value]="skill">{{ skill }} </option>
                </select>
              </div>
              <div class="col s12 m6">
                <div class="input-field col s10 skills-margin">
                  <label [ngClass]="{active: inputValue}" for="newSkill">Enter additional skills</label>
                  <input [maxlength]="100" id="newSkill" type="text" placeholder="" class="validate" #inputSkill [(ngModel)]="inputValue"
                         [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col s2 skills-margin">
                  <a class="btn-floating btn waves-effect waves-light add-button" (click)="onAddOwnSkill(inputSkill)"><i
                    class="material-icons">add</i></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="content-title">My Personal URLs</div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="linkedinUrl" id="linkedin-label">LinkedIn URL</label>
                  <input [maxlength]="100" class="theme-input" id="linkedinUrl" type="text" formControlName="linkedinUrl">
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="githubUrl" id="github-label">GitHub URL</label>
                  <input class="theme-input" id="githubUrl" type="text" formControlName="githubUrl">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="personalUrl" id="personal-label">My Website</label>
                  <input [maxlength]="100" class="theme-input" id="personalUrl" type="text" formControlName="personalUrl">
                </div>
              </div>
              <div class="col s12 m6">
              </div>
            </div>

            <div class="row">
              <div class="content-title">My Settings</div>
            </div>
            <div class="section">
              <div class="row">
                <div class="col l6 m12 s12">
                  <input *ngIf="checkPublish" id="publishFlag" type="checkbox" formControlName="publishFlag" [checked]="true" value="true">
                  <input *ngIf="!checkPublish" id="publishFlag" type="checkbox" formControlName="publishFlag" [checked]="false" value="false">
                  <label for="publishFlag">Publish me on the web site</label>
                </div>

                <div class="col l6 m12 s12">
                  <input *ngIf="checkNotify" id="notifyFlag" type="checkbox" formControlName="notifyFlag" [checked]="true" value="true">
                  <input *ngIf="!checkNotify" id="notifyFlag" type="checkbox" formControlName="notifyFlag" [checked]="false" value="false">
                  <label for="notifyFlag">Notify me on new projects</label>
                </div>
              </div>
             <!-- <div class="row">
                <div class="col l6 m12 s12">
                  <input id="publishFlag" type="checkbox" formControlName="publishFlag" [checked]="checkPublish">
                  <label for="publishFlag">Publish me on the web site</label>
                </div>
                <div class="col l6 m12 s12">
                  <input id="notifyFlag" type="checkbox" formControlName="notifyFlag" [checked]="checkNotify">
                  <label for="notifyFlag">Notify me on new projects</label>
                </div>
              </div>-->
            </div>
          </div>

          <div class="section">
            <div class="row">
              <div class="col m12">
                <div class="footer-btns center">
                  <button class="btn waves-effect waves-light" type="submit" [disabled]="!userForm.valid">Save</button>
                  <button type="button" class="btn waves-effect waves-light" materialize [materializeActions]="modalActions" (click)="openModal()">Delete
                </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirm User Deletion</h4>
    <p>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onDelete()">Yes</a>
  </div>
</div>
