<div class="page-title">
  <h1>User Settings</h1>
</div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel -->
    <div class="col s3" id="left-col">
      <div class="content sidebar-wrapper" *ngIf="user">
        <div class="row single-info">
          <h4 id="avatar-title" class="col s12 m12 l12 image-title">My Avatar</h4>
          <div class="col s12 m12 l7 avatar-container">
            <div class="info-avatar z-depth-2">
              <img class="responsive-img" *ngIf="avatar" id="responsive-img" [src]="avatar">
              <img class="responsive-img" *ngIf="!avatar" id="responsive-img" [src]="constantsService.defaultAvatar">
            </div>
            <div>
              <div class="input-field file-field row">
                <div class="btn image-upload-button center">Upload
                  <input #input type="file" name="file" accept="image/gif, image/jpeg, image/png" (change)="onUploadAvatar($event)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col s9" id="right-col">
      <div class="content">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value, $event)">
          <div class="row">
            <div class="content-title">My Account</div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input class="theme-input" id="userName" formControlName="userName" type="text" required>
                <label for="userName">Username *</label>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input class="theme-input" id="email" formControlName="email" type="email" disabled="true" required>
                <label for="email">Email address *</label>
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <input class="theme-input" id="firstName" formControlName="firstName" type="text" required>
                <label for="firstName">First Name *</label>              
              </div>
            </div>
            <div class="col s12 m6">
              <div class="input-field">
                <input class="theme-input" id="lastName" formControlName="lastName" type="text" required>
                <label for="lastName">Last Name *
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field">
                <label for="state">State</label>
                <input class="theme-input" id="state" formControlName="state" type="text">
              </div>
            </div>
            <div class="col s12 m6">
              <label for="country">Country *</label>
              <div class="theme-select user-edit-dropdown">
                <select id="country" formControlName="country" materialize="material_select">
                  <option *ngFor="let country of countries" [value]="country.code" [selected]="country.code === user?.country">{{country.name + ' (' + country.code + ')'}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="displayPhone">
            <div class="col s12 m6">
              <div class="input-field">
                <label for="phone">Phone</label>
                <input id="phone" formControlName="phone" type="text">
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="content-title">My Profile</div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input class="theme-input" id="title" type="text" formControlName="title" required>
                <label for="title">Title *</label>
              </div>
              <div class="input-field col s6">
                <div class="theme-select ">
                  <select id="jobTitleId" formControlName="jobTitleId" materialize="material_select">
                     <option value="0">Choose Role</option>
                     <option *ngFor="let jobTitle of jobTitlesArray" [value]="jobTitle.id" [selected]="jobTitle.id === user?.jobTitleId">{{jobTitle.jobTitle}}</option>
                 <!-- <option *ngFor="let jobTitle of jobTitlesArray" [value]="jobTitle" [selected]="jobTitle.id === user?.jobTitleId">{{jobTitle.jobTitle + ' (' + jobTitle.id + ')'}}</option>-->
                  </select>
                  <label for="jobTitleId">Role </label>
                </div>
              </div>
              <div class="input-field col s12">
                 <textarea id="introduction" [maxLength]="introMaxLength" class="materialize-textarea"  required formControlName="introduction"
                        (click)="onCountCharIntro()" (input)="onCountCharIntro()" (focus)="onFocusIntro()"
                        (blur)="onBlurIntro()">
                </textarea>
                <label for="introduction">Summary *
                  <span *ngIf="introFieldFocused"> ({{ introValueLength + '/' + introMaxLength }})</span>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="isVolunteer">
              <div class="content-title">My Skills</div>
            </div>
            <div class="row" *ngIf="isVolunteer">
              <div class="row" style="padding: 0 30px">
                <div class="col s10">
                  <my-select-skill [userSkillsArray]="userSkillsArray" (onDeleteSkill)="onDeleteSkill($event)">
                  </my-select-skill>
                </div>
              </div>
              <div class="row" style="padding: 0 30px">
                <div class="col s6 theme-select user-edit-dropdown">
                  <label for="skillSelect">Choose from popular skills below</label>
                  <select id="skillSelect" materialize="material_select" (change)="onAddListedSkill($event)">
                    <option value="" disabled selected>Choose skills</option>
                    <option *ngFor="let skill of skillsArray" [value]="skill">{{ skill }} </option>
                  </select>
                </div>
                <div class="col s6">
                  <div class="input-field col s10 skills-margin">
                    <label [ngClass]="{active: inputValue}" for="newSkill">Enter your own skills</label>
                    <input id="newSkill" type="text" placeholder="" class="validate" #inputSkill [(ngModel)]="inputValue"
                           [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="col s2 skills-margin">
                    <a class="btn-floating btn waves-effect waves-light add-button" (click)="onAddOwnSkill(inputSkill)"><i
                      class="material-icons">add</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="isVolunteer">
              <div class="content-title">My Personal URLs</div>
            </div>
            <div class="col l6 m12 s12" *ngIf="isVolunteer">
              <div class="input-field col s12">
                <label for="linkedinUrl">LinkedIn URL</label>
                <input class="theme-input" id="linkedinUrl" type="text" formControlName="linkedinUrl">
              </div>
              <div class="input-field col s12">
                <label for="githubUrl">GitHub URL</label>
                <input class="theme-input" id="githubUrl" type="text" formControlName="githubUrl">
              </div>
            </div>
            <div class="col l6 m12 s12" *ngIf="isVolunteer">
              <div class="input-field col s12">
                <label for="personalUrl">My Website</label>
                <input class="theme-input" id="personalUrl" type="text" formControlName="personalUrl">
              </div>
              <div class="input-field col s12">
                <label for="githubUrl">Slack Username</label>
                <input class="theme-input" id="chatUsername" type="text" formControlName="chatUsername">
              </div> 
              <!--
              <div class="file-field input-field col s12" id="resume">
                <label class="active" for="resume"></label>
                <div class="row"> 
                  <div class="file-path-wrapper  col m9">
                    <label for="resumeInput">Resume</label>
                    <input class="file-path validate theme-input" id="resumeInput" type="text">
                  </div>
                  <div class="btn col m3">
                    <span id="resume-upload-button">Upload</span>
                    <input type="file">
                  </div>
                </div>
              </div>-->
            </div>

            <div class="row" *ngIf="isVolunteer">
              <div class="content-title">My Settings</div>
            </div>
            <div class="section" *ngIf="isVolunteer">
              <div class="row">
                <div class="col l6 m12 s12">
                  <input id="publishFlag" type="checkbox" formControlName="publishFlag" [checked]="checkPublish">
                  <label for="publishFlag">Publish me on the web site</label>
                </div>
                <div class="col l6 m12 s12">
                  <input id="notifyFlag" type="checkbox" formControlName="notifyFlag" [checked]="checkNotify">
                  <label for="notifyFlag">Notify me on new projects</label>
                </div> 
              </div> 
            </div> 
          </div>

          <div class="section">
            <div class="row">
              <div class="col m12">
                <div class="footer-btns center">
                  <button class="btn waves-effect waves-light" type="submit" materialize [materializeParams]="['Your changes have been saved',4000]"
                  [materializeActions]="globalActions" [disabled]="!userForm.valid">
                  Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>