<div class="action">
    <h2 class="white-text text-darken-3">Where Tech Volunteers Meet Nonprofits</h2>
    <div class="input-field inline">
      <td>
        <input #projectName id="name" type="text"/> 
        <label for="name">Project keyword</label>
      </td>
      <td>
        <button (click)="getProjectsByKeyword(projectName.value); projectName.value=''" class="btn waves-effect waves-light grey darken-3"><i class="large material-icons grey darken-3">search</i></button>
      </td>
    </div>
</div>

