<div id="account" class="col s12">My Account
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form [formGroup]="myAccount" (ngSubmit)="updateAccount($event)">
                    <div class="col s4">

                      <img class="responsive-img" [attr.src]=getImage() id = "responsive-img"/>
                      <label class="btn waves-effect waves-light" for="file">Upload</label>
                      <input type="file" name="file" id="file"   accept="image/gif, image/jpeg, image/png" (change)="fileChange(input)" #input />
                    </div>
                    <div class="col s4">
                        <input formControlName="username" type="text" placeholder="Username *">
                        <input formControlName="firstName" type="text" placeholder="First Name *">
                        <input formControlName="lastName" type="text" placeholder="Last Name *">
                        <input formControlName="email" type="text" placeholder="Email Address *">
                        <input formControlName="newPassword" type="text" placeholder="New Password">
                    </div>
                    <div class="col s4">
                        <input formControlName="city"type="text" placeholder="City">
                        <select formControlName="state"><option value="#">State</option></select>
                        <select formControlName="country"><option value="#">Country</option></select>
                        <input formControlName="zip" type="text" placeholder="Zip">
                        <input formControlName="confirmPassword" type="text" placeholder="Confirm Password">
                    </div>
                    <div class="col s12">
                        <div class="col s4">
                            <button type="submit">Save</button>
                        </div>
                        <div class="col s4">
                            <button type="button">Delete</button>
                        </div>
                        <div class="col s4">
                            <button type="reset">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
