# Typescript
app/**/*.js
*.map

# node modules and npm
node_modules/
npm-debug.log

# log files
*.log.*

# IDE (none if use Sublime)
.idea/

# Testing
coverage/

# Release
dist/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
