# Typescript
*.js
*.map

# Don't ignore systemjs.config.js
!systemjs.config.js
!webpack.config.js

# node modules and npm
/node_modules
npm-debug.log

# log files
*.log.*

# IDE (none if use Sublime)
.idea/
