
<div class="container">
  <div class="row main-row" *ngIf="user">
    <div class="content">
      <h1 class="main-title">{{user.userName}}</h1>
    </div>
    <div class="col m2">
      <div class="avatar">
        <img [src]="user.avatarUrl" *ngIf="user.avatarUrl"></div>
        <div class="col m6">
          <ul class="links-list">
            <li>Email: {{user.email}}</li>
            <li *ngIf="user.linkedinUrl"><a target="_blank" [href]="user.linkedinUrl">LinkedIn</a></li>
            <li *ngIf="user.personalUrl"><a target="_blank" [href]="user.personalUrl">Personal</a></li>
            <li *ngIf="user.githubUrl"><a target="_blank" [href]="user.githubUrl">Github</a></li>
            <li>Facebook: {{user.facebook}}</li>
            <li>Twitter: {{user.twitter}}</li>
          </ul>
        </div>
    </div>
    <div class="col m8 offset-m2 right-col" id="left-col">
      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col s6 offset-s3">
              <div class="buttons-block">
                <a class="btn" *ngIf="displayEdit" (click)="edit()">Edit</a>
                <a class="btn" *ngIf="displayDelete" (click)="delete()">Delete</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="subtitle row">
              <div class="names">
                <span class="first-name">{{user.firstName}}</span>
                <span class="last-name">{{user.lastName}}</span>
              </div>
              <div class="row">
                <div class="col m12">
                  <div class="main-info">
                    <div class="user-title">
                      <h5>{{user.title}}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <p class="location">
                  <span class="state" *ngIf="user.state">{{user.state}}, </span>
                  <span class="country" *ngIf="user.country">{{user.country}}</span>
                </p>
                <p class="joined">Joined at: {{user.createdTime | date: 'MMM d, yyyy'}}</p>
              </div>
            </div>
          </div>
          <p>Introduction</p>
          <div class="row">
            <div class="col s12">
              <div class="intro-wrapper box">
                <div class="intro">
                  <p>{{user.introduction}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m6">
              <div class="skills-list-wrapper right-col">
                <ul>
                  <li class="chip">Skill 1</li>
                  <li class="chip">Skill 2 </li>
                  <li class="chip">Skill 3</li>
                  <li class="chip">Skill 4</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
