@import "../../_style/app.theme";

.card-avatar, .card-avatar-content {
  border-radius: 50% !important;
}

.mg-top-10px{
  margin-top: 10px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: #9F9F9F !important;
}

.names {
  font-size: 1em;
  //font-weight: bold;
}

.location {
  line-height: 1.5em;
  //padding-left: 1em;
  font-size: 0.75em;
}

.user-title {
  display:table-cell;
  vertical-align: middle;
  h5 {
    font-weight: bold;
  }
}

.username {
  line-height: 1em;
  text-align: center;
}

#right-col, .sidebar{
  border-bottom: none;
  padding-bottom: 0px;
}

.proj-name h5:hover {
  text-decoration-line: underline;
  text-decoration-color: #84c44c; 
}