@import "../../_styling/variables";
@import "../../_styling/app.page-view";

.buttons-block {
  text-align: center;
}

.subtitle {
  width: 100%;
  padding-left: 2em;
  .names {
    font-size: 1.5em;
    font-weight: bold;  
  }
  .metainfo {
    padding-top: 1em;
    padding-bottom: 1em;
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 2em;
    }
  }
}

.main-info{
  display: table;
  width: 100%;
  .avatar {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .user-title {
    display:table-cell;
    vertical-align: middle;
    h5 {
      font-weight: bold;
    }
  }
}

.not-active {
    pointer-events: none;
    cursor: default;     
    color: #9F9F9F !important;  
}
