<div class="page-title"><h1>Volunteer</h1></div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel: User -->
    <div class="col s8" id="left-col">
      <div class="content  sidebar-wrapper" *ngIf="user">
        <div class="row single-info">
          <div class="col s6 m3 l2">
            <div class="info-avatar card-avatar z-depth-2" *ngIf="user.avatarUrl">
              <img class='card-avatar-content' [src]="user.avatarUrl"></div>
            <div class="info-avatar card-avatar z-depth-2" *ngIf="!user.avatarUrl">
              <img class='card-avatar-content' [src]="defaultAvatar"></div>
            <div class="username">{{user.userName}}</div>
              <div class="links-list-wrapper" *ngIf="authService.authenticated()">
                <ul>
                  <li><a class="mdi mdi-email" [class.not-active]="!user.email" href="mailto:{{user.email}}"></a></li>
                  <li><a class="mdi mdi-linkedin-box" [class.not-active]="!user.linkedinUrl" name="linkedin" [href]="user.linkedinUrl"  target="_blank"></a></li>
                  <li><a class="mdi mdi-facebook-box" [class.not-active]="!user.facebookUrl" name="facebook" [href]="user.facebookUrl" target="_blank"></a></li>
                  <li><a class="mdi mdi-twitter-box" [class.not-active]="!user.twitterUrl" name="twitter" [href]="user.twitterUrl" target="_blank"> </a></li>
                  <li><a class="mdi mdi-github-box" [class.not-active]="!user.githubUrl" name="twitter" [href]="user.githubUrl" target="_blank"> </a></li>
                  <li><a class="mdi mdi-link-variant" [class.not-active]="!user.personalUrl" name="twitter" [href]="user.personalUrl" target="_blank"> </a></li>
                </ul>
              </div>
            </div>
          <div class="col s12 m9 l10">
              <div class="names mg-top-10px">{{user.firstName}} {{user.lastName}}</div>
              <div class="user-title"><h5>{{user.title}}</h5></div>
              <div class="location">Location: <span *ngIf="user.state">{{user.state}}, </span>{{user.country}}</div>
              <div class="skills-tag-wrapper">
                <ul *ngIf="user.skills">
                  <li class="chip" *ngFor="let skill of user.skills">{{ skill }}</li>
                </ul>
              </div>
          </div>
          <div class="col m12">
            <div class="info-title">Introduction</div>
            <div class="info-description">{{ user.introduction }}</div>
          </div>
          <div class="col m12">
            <div class="col s12 action-btns">
              <a class="btn" *ngIf="displayEdit" (click)="edit()">Edit</a>
              <a class="btn" *ngIf="displayDelete" (click)="openModal()" materialize [materializeActions]="modalActions">Delete</a>
            </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Right Panel: User Volunteer History -->
    <div class="col m4" id="right-col">
      <div class="sidebar">
        <div class="section">
          <h4>Volunteer History</h4>
          <div class="section-body-organization">
            <div class="card">
              <div class="card-content">
                <div class="row single-info">
                  <p>Coming soon ...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirm User Deletion</h4>
    <p>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="delete()" materialize
       [materializeActions]="deleteGlobalActions">Yes</a>
  </div>
</div>
