<div class="page-title-center">
  <h1>Heroes</h1>
</div>
<div class="container content">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="thanks">
        If the technical volunteering world becomes a better place tomorrow,<br>
        it will happen because of volunteers like you.<br>
        <h3>Thank you!</h3>
      </div>
    </div>
  </div>
  <div class="row users">
    <div class="col s3">
      <div class="user">
        <img src="../../assets/default_avatar.png" alt="" class="avatar">
        <div class="fullname">John Smith</div>
        <div class="title">Web Developer</div>
        <div class="location clearfix"><span class="label">Location</span> <span class="label-content">California, USA</span></div>
        <div class="badges clearfix">
          <span class="label">Badges</span>
          <span class="label-content"><i class="material-icons">stars</i>&nbsp;12</span>
        </div>
        <ul class="skills-tag-wrapper clearfix">
          <li class="chip">HTML</li>
          <li class="chip">AWS</li>
          <li class="chip">CSS</li>
          <li class="chip">NodeJS</li>
          <li class="chip">MongoDB</li>
        </ul>
        <a href="#" class="btn">View Profile</a>
      </div>
    </div>
    <div class="col s3">
      <div class="user">
        <img src="../../assets/default_avatar.png" alt="" class="avatar">
        <div class="fullname">John Smith</div>
        <div class="title">Web Developer</div>
        <div class="location clearfix"><span class="label">Location</span> <span class="label-content">California, USA</span></div>
        <div class="badges clearfix">
          <span class="label">Badges</span>
          <span class="label-content"><i class="material-icons">stars</i>&nbsp;12</span>
        </div>
        <ul class="skills-tag-wrapper clearfix">
          <li class="chip">HTML</li>
          <li class="chip">AWS</li>
          <li class="chip">CSS</li>
          <li class="chip">NodeJS</li>
          <li class="chip">MongoDB</li>
        </ul>
        <a href="#" class="btn">View Profile</a>
      </div>
    </div>
    <div class="col s3">
      <div class="user">
        <img src="../../assets/default_avatar.png" alt="" class="avatar">
        <div class="fullname">John Smith</div>
        <div class="title">Web Developer</div>
        <div class="location clearfix"><span class="label">Location</span> <span class="label-content">California, USA</span></div>
        <div class="badges clearfix">
          <span class="label">Badges</span>
          <span class="label-content"><i class="material-icons">stars</i>&nbsp;12</span>
        </div>
        <ul class="skills-tag-wrapper clearfix">
          <li class="chip">HTML</li>
          <li class="chip">AWS</li>
          <li class="chip">CSS</li>
          <li class="chip">NodeJS</li>
          <li class="chip">MongoDB</li>
        </ul>
        <a href="#" class="btn">View Profile</a>
      </div>
    </div>
    <div class="col s3">
      <div class="user">
        <img src="../../assets/default_avatar.png" alt="" class="avatar">
        <div class="fullname">John Smith</div>
        <div class="title">Web Developer</div>
        <div class="location clearfix"><span class="label">Location</span> <span class="label-content">California, USA</span></div>
        <div class="badges clearfix">
          <span class="label">Badges</span>
          <span class="label-content"><i class="material-icons">stars</i>&nbsp;12</span>
        </div>
        <ul class="skills-tag-wrapper clearfix">
          <li class="chip">HTML</li>
          <li class="chip">AWS</li>
          <li class="chip">CSS</li>
          <li class="chip">NodeJS</li>
          <li class="chip">MongoDB</li>
        </ul>
        <a href="#" class="btn">View Profile</a>
      </div>
    </div>
  </div>
  <h2>Under Construction!</h2>
</div>
