<div class="container">
    <h4>C4SG User Dashboard</h4>
</div>

<div class="row">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s2"><a href="#account">My Account</a></li>
        <li class="tab col s2"><a href="#organization">Create Organization</a></li>
        <li class="tab col s2"><a href="#project">Create Project</a></li>
      </ul>
    </div>

    <div id="account" class="col s12">My Account
    </div>

    <div id="organization" class="col s12">Create Organization
    </div>

    <div id="project" class="col s12">Create Project
    </div>
</div>