<div class="row">

    <!-- Navigation Tabs -->
    <div class="col s12 nav">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s2"><a href="#account">My Account</a></li>
        <li class="tab col s2"><a href="#profile">My Profile</a></li>
        <li class="tab col s2"><a href="#projects">My Projects</a></li>
        <li class="tab col s2"><a href="#organization">My Organization</a></li>
        <li class="tab col s2"><a routerLink="/create_project">Create Project</a></li>
      </ul>
    </div>

    <my-account></my-account>

    <my-profile></my-profile>

    <my-organization></my-organization>

    <projects></projects>

    <my-create-tab></my-create-tab>

</div>
