<div class="container">
	<div class="row">
		<form [formGroup]="signUpForm" (ngSubmit)="doSignUp($event)">

			<div class="input-field">
				<label for="username">User Name</label>
				<input formControlName="username" type="text">
			</div>

			<div class="input-field">
				<label for="email">Email</label>
				<input formControlName="email" type="email">
			</div>

			<div class="input-field">
				<label for="password">Password</label>
				<input formControlName="password" type="password">
			</div>

			<div class="input-field">
				<label for="rpassword">Repeat Password</label>
				<input formControlName="rpassword" type="password">
			</div>

			<div class="input-field">
				<input type="radio"
					name="user"
					formControlName="user"
					value="volunteer"
					id="volunteer"
					class="filled-in" />
				<label for="volunteer">Volunteer User</label>

				<input type="radio"
					name="user"
					formControlName="user"
					value="nonprofit"
					id="nonprofit"
					class="filled-in" />
				<label for="nonprofit">Nonprofit User</label>
			</div>

      <div class="input-field">

 				<re-captcha
 						(captchaResponse)="onValidCaptchaResponse($event)"
 						site_key="6Lf6kRcUAAAAAI2_gaeuASDgiH8GsHV_ylB4QrbM">
 				</re-captcha>
 			</div>


			<div class="input-field sign-up">
				<button class="btn waves-effect waves-light" type="submit">Sign Up</button>
			</div>
		</form>
	</div>
</div>
