@import "../_style/app.theme";

@import "../_style/app.theme";

.content {
  text-align: center;
  padding-top: 3rem;
  background-color: #F9F9F9;
  .col > div {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    h4 {
      margin-bottom: 5px;
      color: $secondary-bg-color;
    }
  }
  .contact {
    background-color: darken($footer-bg-color, 5%);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

h5 {
  font-size: 1.5rem;
}

.subjectSelected{
  color: $secondary-color !important;
}
.subjectDeselected{
  color: #5ba55b !important;
}

.ulSubjectArea{
margin-left: 15px;
}
