@import "../_style/app.theme";

.content {
  text-align: center;
  padding-top: 3rem;
  background-color: #F9F9F9;
  .col > div {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    h4 {
      margin-bottom: 5px;
      color: $secondary-bg-color;
    }
  }
  .contact {
    background-color: darken($footer-bg-color, 5%);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

h5 {
  font-size: 1.5rem;
}

.subjectSelected{
  color:#33e033 !important;
}

.subjectDeselected{
  color: #5ba55b !important;
}

#subjectarea{
  font-size:1.2em;
  padding-left:10px;
}

.ulSubjectArea{
  margin-left: 10px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

#askimage{
  margin-top:20px;
}

p{
  position:relative;
  font-size:1.3rem;
  font-weight:bold;
  color:#4B4B4C;
  margin-top:20px;
  padding-left:5px;
}

#submitbtn{
  margin-top:25px;
  margin-bottom:35px;
  padding-left:20px;
}

#last_section{
  margin-top:20px;
  margin-bottom:40px;
}

#last_section i{
  margin-top:15px;
}

/********** large devices only **********/
@media (min-width: 992px) and (max-width:1200px){

#subjectarea{
 font-size:1em;
 margin-top:25px;
  }
}

/********** small/medium devices only **********/
@media (min-width: 601px) and (max-width: 991px){

#subjectarea{
  font-size:.9em;
  width:100px;
  margin-top:25px;
 }

.ulSubjectArea{
  margin-left: 25px;
  padding-top:0px;
 }
}

/********** small devices only **********/
@media (max-width: 600px){

#askimage{
  width:40px;
  heigth:46px;
  margin-top:25px;
  margin-left:15px;
 }

p{
  font-size:1rem;
  font-weight:bold;
  padding-left:10px;
 }

#last_section i{
  padding-left:10px;  
 }

#subjectarea{
  font-size:1em;
 }

.ulSubjectArea{
  padding-left:10px;
  padding-top:1px;
 }

#last_section i{
  margin-top:20px;
  font-size:40px;
 }
}