<!-- Top menu -->
<nav class="black">
    <div class="nav-wrapper">
        <a href="" class="brand-logo"><img src="app/images/logo.png" height="60" width="380"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdownproject">Projects<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdownproject" class="dropdown-content">
                    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                </ul>
            </li>

            <li>
                <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdownvolunteer">Volunteers<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdownvolunteer" class="dropdown-content">
                    <li><a routerLink="/volunteers" routerLinkActive="active">Volunteers</a></li>
                </ul>
            </li>

            <li>
                <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdownorganization">Nonprofits<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdownorganization" class="dropdown-content">
                    <li><a routerLink="/nonprofits" routerLinkActive="active">Nonprofits</a></li>
                </ul>
            </li>    

            <li>
                <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdowndashboard">Dashboard<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdowndashboard" class="dropdown-content">
                    <li><a routerLink="/volunteerUser" routerLinkActive="active">Volunteer User</a></li>
                    <li><a routerLink="/nonprofitUser" routerLinkActive="active">Nonprofit User</a></li>
                    <li><a routerLink="/c4sgUser" routerLinkActive="active">C4SG User</a></li>
                </ul>
            </li>   
            
            <li><a routerLink="/login" routerLinkActive="active" >Login</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Register</a></li>      
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer white">
<div class="container">
  <div class="row">
    <div class = "col-md-2">
	     <h6 class="white-text">
		 <ul><li><a routerLink="/about" routerLinkActive="active" >About Us</a></li>
             <li><a routerLink="/contact" routerLinkActive="active" >Contact Us</a></li>
             <li><a routerLink="/partners" routerLinkActive="active" >Partners</a></li>
             <li><a routerLink="/resources" routerLinkActive="active" >Resources</a></li>
			 <li><a routerLink="/blog" routerLinkActive="active" >Blog</a></li>
			 <li><a routerLink="/forum" routerLinkActive="active" >Forum</a></li>
         </ul></h6>
    </div>
  </div>
</div>
 
<div class="footer-copyright">
  <div class="container black-text">Code for Social Good</div>
</div>
</footer>