<!-- Top menu -->
<nav class="black">
    <div class="nav-wrapper">
        <a href="" class="brand-logo"><img src="./images/logo.png" height="60" width="380"></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/project/list" routerLinkActive="active" >Projects</a></li>   
            <li><a routerLink="/user/list" routerLinkActive="active" >Volunteers</a></li> 
            <li><a routerLink="/nonprofit/list" routerLinkActive="active" >Nonprofits</a></li>         

            <li>
                <a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-hover="true" href="#!" data-activates="dropdownproject">John Doe<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdownproject" class="dropdown-content">
                    <li><a routerLink="/account" routerLinkActive="active">My Account</a></li>
                    <li><a routerLink="/profile" routerLinkActive="active">My Profile</a></li>
                    <li><a routerLink="/project/list" routerLinkActive="active">My Projects</a></li>
                    <li><a routerLink="nonprofit/create" routerLinkActive="active">My Organization</a></li>
                    <li><a routerLink="nonprofit/create" routerLinkActive="active">Create Organization</a></li>
                    <li><a routerLink="project/create" routerLinkActive="active">Create Project</a></li>
                </ul>
            </li>

            <li><a routerLink="/login" routerLinkActive="active" >Login</a></li>
            <li><a routerLink="/register" routerLinkActive="active">Register</a></li> 

        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer white">
<div class="container">
    <div class="row">
        <div class = "col-md-2">
	        <h6 class="white-text">
		        <ul>
                    <li><a routerLink="/about" routerLinkActive="active" >About Us</a></li>
                    <li><a name="linkedin" href="https://www.linkedin.com" target="_blank" class="mdi mdi-linkedin-box  mdi-24px" ></a>
                    <li><a name="facebook" href="https://facebook.com" target="_blank" class="mdi mdi-facebook-box  mdi-24px"></a>
                    <li><a name="twitter" href="https://twitter.com/login" target="_blank" class="mdi mdi-twitter-box  mdi-24px"></a>         
                    <li><a name="googleplus" href="https://plus.google.com" target="_blank" class="mdi mdi-google-plus-box  mdi-24px"></a></li>     
                </ul>
            </h6>
        </div>
   </div>
</div>
</footer>