.nav {
    margin: 4em;
}
form {
  margin: 2rem 0;
}
label[for="file"]{
  font-size: 1rem;
}
input[type="file"] {
  display: none;
}
.input-field-select {
  margin-bottom: 2.33rem;
}
.responsive-img {
  display: block;
  width: 70%;
  height: 30%;
  background-color: gray;
  margin-bottom: 2em;
}



