<div class="page-title-center">
  <!-- <div class="row page-title-center">
    <div class="col s12 page-title-center">
      <ul class="tabs page-title-center">
        <li class="tab col s3 disabled"><a href="#test3"><h1>Our Stories</h1></a></li>
        <li class="tab col s3 page-title-center"><a class="active" href="#test2">Blog</a></li>
		<li class="tab col s3 page-title-center"><a class="active" href="#test2">Volunteer Stories</a></li>
		<li class="tab col s3 page-title-center"><a class="active" href="#test2">Nonprofit Stories</a></li>
        
      </ul>
    </div>
    
  </div> -->

  <!-- <div class="row">
    <div class="col s12 page-title-center">
      <ul class="tabs page-title-center">
        <li class="tab col s3 disabled"><a href="#test3">Our Stories</a></li>
		<li class="tab col s3"><a class="active" id="blogs" routerLink="/blogs" routerLinkActive="active">Blog</a></li>
		<li class="tab col s3"><a class="active" id="volunteerstories" routerLink="/volunteerstories" routerLinkActive="active">Volunteer Stories</a></li>
		<li class="tab col s3"><a class="active" id="nonprofitstories" routerLink="/nonprofitstories" routerLinkActive="active">Nonprofit Stories</a></li>
	  </ul>
    </div>
  </div>
</div> -->

<div class="row">
    <div class="col s12 page-title-center">
      <ul class="tabs page-title-center">
        <li class="tab col s3 disabled"><a href="#test3"><h1>Our Stories</h1></a></li>
		<li class="tab col s3"><a class="active" id="blogs" routerLink="/blogs" routerLinkActive="active"><h1>Blog</h1></a></li>
		<li class="tab col s3"><a class="active" id="volunteerstories" routerLink="/volunteerstories" routerLinkActive="active"><h1>Volunteer Stories</h1></a></li>
		<li class="tab col s3"><a class="active" id="nonprofitstories" routerLink="/nonprofitstories" routerLinkActive="active"><h1>Nonprofit Stories</h1></a></li>
	  </ul>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col s8 offset-s2">
      <h5>Coming soon</h5>
    </div>
  </div>
</div>
