@import "../_style/app.theme";
@import "../_style/variables";

.title {
	height: 53.5px;
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
	padding: 5px;	
	text-align: center;
	background-color: $page-title-bg-color;
	margin-top: -2px; // hack to hide the border from header.
}
.top-image {
	width: 75%;
	text-align: center;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	button {
		font-size: 16px;
		margin-top: 20px;
	}
}
.main-stories-container{
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.most-recent-container{
	display: inline-block; 
	width: 60%;
	height: 280px;
	margin-top: 20px;
	border: 3px solid #DADADA;
	padding: 20px;
	box-sizing: content-box;
	text-align: justify;
	position: relative;
	.image {
		width: 200px;
		display: inline-block;
		img {
				width:100%;
				height:100%;
				object-fit: cover;
		}
	}
	.text {
		display: inline-block;
		max-width: calc(100% - 225px);
    vertical-align: top;
    margin-left: 20px;
	}
	.full-story-bar {
		position: absolute;
    bottom: 0;
    left: 0;
		right: 0;
		height: 40px;
		background-color: #80BD4C;
	}
	.most-recent-success {
		position: absolute;
		left: 40px;		
		color: white;
		font-size: 16px;
		font-weight: bold;
		line-height: 40px;

	}
	.full-story {
		position:absolute;
		right: 80px;
		color: white;
		font-size: 12px;
		font-weight: bold;
		line-height: 40px;
		cursor: pointer;
	}
	.share-icon{
		position:absolute;
		right: 0;
		width: 50px;
		height: 100%;
		background-color: #4B4B4C;
		text-align: center;
		line-height: 40px;
		color: white;
		cursor:pointer;
	}
	
}
.signup-container {
	display: inline-block;
	height: 284px;
	margin-top: 20px;	
	padding: 20px;
	box-sizing: content-box;
	width: 28%;
	vertical-align: top;
	position: relative;
	background-color: #EE7253;
	color: white;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
.signup-bar{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 40px;
	background-color: #80BD4C;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	line-height: 40px;
	cursor: pointer;
}
.want-to-join {	    			
	height: calc(284px - 40px);			
	display: flex;
	align-items: center;
}

.volunteer-stories-container, 
.organizations-stories-container {
	margin-top: 40px;
}

.separator{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	height: 40px;
	width:100%;
	color: white;
}
.volunteer {
	background-color: #31B1AB;
}
.organization {
	background-color: #EE7253;
}

.cards-container {
	width: 90%;
	margin: 10px auto;
	text-align: center;
}
.story-card {	
	height: 400px;
	width: 26%;
	display: inline-block;
	vertical-align:top;
	box-sizing: border-box;
	border: 3px solid #DADADA;
	margin: 0 15px;
	
	.story-card-container{
		padding:20px;
		width: 100%;		
		height: 354px;
	}

	.card-image {
		border-radius:50%;
		width:130px;
		height:130px;
		overflow: hidden;
		margin: 0 auto;

		img{
				width:100%;
				height:100%;
				object-fit: cover;
		}

	}
	.card-title {
		text-align: justify;
    font-size: 20px;
    color: #808080;
		height: calc(100% - 150px);
		margin-top:20px;
	}
	.card-read-story-bar{		
		height:40px;
		line-height:40px;
		color: white;
		font-size: 14px;
		font-weight: bold;
		cursor:pointer;
	}
}
.see-more-btn{
	text-align:center;
	margin-top: 10px;
	&.margin-bottom {
		margin-bottom: 50px;
	}	
	button {
		width: 23%;
	}
}