<div class="page-title-center">
  <h1>Partners</h1>
</div>
<div class="container content">
<div class="row white z-depth-2">
    <div class="col s8 flow-text offset-s2">
        <h4>ARE WE ALONE?</h4>
        <p>Software Companies?<br>
          Tech Nonprofits?<br>
          Schools?<br>
          Student Clubs?<br>
          User Groups?<br>
          Media Channels?
        </p>
        <p>Together, let's make technical volunteering a better world!</p>
  </div>
   </div>

    <div class="row">
        <div class="contact  white z-depth-2 col s12 m12 flow-text offset-s2">
          Please <a target="_top" id="contact" routerLink="/contact" routerLinkActive="active">contact us</a>
           if you would like to become a partner!
        </div>
    </div>
</div>
