<div class="page-title-center">
  <h1>Partners</h1>
</div>
<div class="container content">
  <div class="row">
    <div class="col s8 offset-s2">
        <h4>ARE WE ALONE?</h4>
        <p>Software Companies?<br>
          Tech Nonprofits?<br>
          Schools?<br>
          Student Clubs?<br>
          User Groups?<br>
          Media Channels?
        </p>
        <h4>Together, let's make technical volunteering a better world!</h4>
        <div class="contact">
          Please <a href="contact">contact us</a> if you would like to become a partner!
        </div>
    </div>
  </div>
</div>
