@import "../_style/app.theme";

.content {
  text-align: center;
  padding-top: 0;
  background-color: #F9F9F9;
  h4 {
    margin-bottom: -.5rem;
    font-size: 2rem;
  }
  .contact {
    margin-top: 2rem;
    background-color: darken($footer-bg-color, 5%);
    padding: 1rem;
    font-size: 1.5rem;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
