<div class="page-title-center">
  <h1>Partners</h1>
</div>
<!--<div class="container content">
<div class="row white z-depth-2">
    <div class="col s8 flow-text offset-s2">
        <h4>ARE WE ALONE?</h4>
        <p class="partners">Software Companies?<br>
          Tech Nonprofits?<br>
          Schools?<br>
          Student Clubs?<br>
          User Groups?<br>
          Media Channels?
        </p>
        <p style="text-align:center;">Together, let's make technical volunteering a better world!</p>
  </div>
   </div>

    <div class="row">
        <div class="contact  white z-depth-2 col s12 m12 flow-text offset-s2">
          Please <a target="_top" id="contact" routerLink="/contact" routerLinkActive="active">contact us</a>
           if you would like to become a partner!
        </div>
    </div>
</div>-->

<div class="container partners-page" style="padding: 10px;">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">Tech Company</span>
          <p></p>
          <span class="card-description">Industry companies are encouraged to get involved as mentors and advisors. Options include sponsoring certain projects and providing guidance to our clients and volunteers. Monetary donations are accepted as well.</span>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner4.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">School Clubs</span>
          <p></p>
          <span class="card-description">Is your student club seeking more volunteer hours? Partner with us and we will find projects right for your team. At C4SG, schedules are adjustable, meaning you can work within the time frame you need.</span>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner5.jpg">
        </div>
        <div class="card-content">
            <span class="card-title">User Groups</span>
            <p></p>
            <span class="card-description">With our wide variety of projects listed, we can find a venture perfect for the focus of your user group. Whatever your specialty may be, there is a project right for you.</span>
        </div>
      </div>
    </div>
  </div>
    <br>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner2.jpg">
        </div>
        <div class="card-content">
            <span class="card-title">Tech Nonprofit</span>
            <p></p>
            <span class="card-description">If you are a tech nonprofit like us, we are always open to joint ventures. Together, we can support large-scale ventures or high-tech projects. Community events are always an option too!</span>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner6.jpg">
        </div>
        <div class="card-content">
            <span class="card-title">Media</span>
            <p></p>
            <span class="card-description">As a media outlet, you can help us by promoting our initiative. Plugs for the website are always appreciated, in addition to advertisements and features about our cause. Help us spread the good of tech volunteering!</span>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/assets/Partner3.jpg">
        </div>
        <div class="card-content">
            <span class="card-title">Other Groups</span>
            <p></p>
            <span class = "card-description">Unable to find a listing right for your group? Message us and we can work something out!</span>
        </div>
      </div>
    </div>
  </div>
</div>
