@import 'variables';
body {
  font-family: Raleway;
  font-size: 14px;
  color: $main-color;
}

.preloader-wrapper{
  position: absolute;
  left: 48%;
  top: 48vh;
}

a {
  color: $main-color;
}

nav {
  background-image: url("/assets/header-bg.png");
  margin-top: $page-top;
  height: $navbar-height;
  background-color: white;
  border-top: solid $line-sep-width $line-sep-color;
  border-bottom: solid $line-sep-width $line-sep-color;
  box-shadow: none;
  line-height: $navbar-height;

  .brand-logo {
    display: table-cell;
    text-align: center;
    height: 95%;
    transition: 1s;
    > img {
      height: 100%;
      vertical-align: middle;
    }
  }

  ul {
    li {
      a {
        position: relative;
        color: $navbar-fg-color;
        line-height: $navbar-height - 2 * $line-sep-width;
        padding-left: 40px;
        padding-right: 40px;
        border: solid $line-sep-width $line-sep-color;

        padding-top: 0 - $line-sep-width;
        margin-top: 0 - $line-sep-width;
        margin-left: - $line-sep-width;

        z-index: 100;
        &:hover{
          border-color: $navbar-border-color;
          //color: $navbar-fg-color;
          background-color: transparent;
          z-index: 102;
        }

        &.active {
          background-color: $header-bg-color;
          color: $navbar-fg-color;
          border-color: $navbar-border-color;
          font-weight: bold;
          z-index: 101;
        }

      }

      &:last-child {
        a {
        }
      }
    }

    &.dropdown-content {
      margin-left: - $line-sep-width;
      li {
        a {
          color: $navbar-fg-color;
          line-height: $dropdown-line-height;
          margin-left: 0;
          &.active {
            color: $navbar-fg-color-selected;
          }
        }
      }
    }
  }
}

.main-row {
  margin-bottom: 0;
}
#left-col {
  border-right: solid $line-sep-width $line-sep-color;
}
#right-col {
  border-left: solid $line-sep-width $line-sep-color;
  margin-left: - $line-sep-width;
}

.left-col {
  border-right: solid $line-sep-width $line-sep-color;
}

.right-col {
  border-left: solid $line-sep-width $line-sep-color;
  margin-left: - $line-sep-width;
}

.sidebar-wrapper, .content-wrapper {
  padding-top: $content-pad-top;
}

.sidebar {
  .section {
    padding-top: 0px;
    background-color: $section-bg-color;
    margin-top: 15px;
    h4 {
      font-size: 1.15em;
      background-color: $header-bg-color;
      color: $main-color;
      margin: 0 0 0 0;
      padding-left: 35px;
      line-height: 50px;
      font-weight: bold;
      border-bottom: solid $line-sep-width $line-sep-color;
    }
    .input-search {
      padding: 40px 10px 10px 10px;
    }

    &:first-of-type {
      margin-top: 0px;
    }

    .section-body {
      padding: 25px;
      border: solid $line-sep-width $header-bg-color;
      h5 {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        padding: 0;
      }
      .skills-list-wrapper {
        ul {
          list-style: none;
          li {
            display:inline-block;
            min-width: 50%;
            margin-left: -5px;
            padding-left: 5px;
            label {
              font-size: 0.75em;
              color: $main-color;
              &:after {
                top: 3px;
                border-color: $header-bg-color;
              }
            }

            input:checked + label:after {
              background-color: $header-bg-color;
            }
          }
        }
      }
    }
  }
}

.content {
  padding-bottom: 50px;
  .main-title {
    color: $main-color;
    line-height: 50px;
    font-size: 1.15em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    border-bottom: solid $line-sep-width $navbar-border-color;

    .index-prefix {
      margin-right: 2em;
    }
  }

  .items-list-wrapper  {
    ul {
      li {
        .card {
            border: solid $line-sep-width $navbar-border-color;
          .card-header{
            line-height: 50px;
            padding-left: 35px;
            padding-right: 35px;
            background-color: $header-bg-color;
            h4 {
              cursor: pointer;
              display: inline-block;
              font-size: 1em;
              font-weight: bold;
              color: $main-color;
              margin: 0;
              line-height: 50px;
            }
            .card-metainfo {
              cursor: pointer;
              font-size: 0.9em;
              float: right;
              color: $main-color;

              .card-location {
                margin-left: 1em;
                margin-right: 1em;
              }
            }
          }

          .card-content {
            padding:0;
            width: 100%;
            display:table;
            min-height: 225px;

            .card-avatar {
              padding: 5px;
              width: 40%;
              display:table-cell;
              vertical-align: top;
              > img {
                width: 100%;
                vertical-align: middle;
              }
            }
            .card-info {
              width: 60%;
              display:table-cell;
              vertical-align: top;
              position: relative;
              .description {
                text-align: justify;
                padding: 11px;
                font-size: 10px;
              }
              h5 {
                font-size: 1em;
                font-weight: bold;
                text-align: center;
                color: $main-color;
              }

              .skills-list-wrapper {
                padding: 5px 25px 5px 25px;
                ul {
                  li.chip {
                    color: $main-color;
                    border: solid $line-sep-width $header-bg-color;
                    background-color: #fff;
                    border-radius: 0px;
                    margin-left: 0.25em;
                    margin-right: 0.25em;
                    min-width: 27%;
                    text-align: center;

                    &:hover {
                      background-color: $bg-line-color;
                    }
                  }

                }
              }
              .card-info-bottom {
                background-color: $sec-bg-color;
                padding-left: 25px;
                vertical-align: bottom;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;

                .org-name {
                  cursor:pointer;
                  line-height: 50px;
                  font-size: 1em;
                  font-weight: bold;
                  text-align:center;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }
  }

}

.single-card {
  .card {
      border: solid $line-sep-width $navbar-border-color;
    .card-header{
      line-height: 50px;
      padding-left: 35px;
      padding-right: 35px;
      background-color: $header-bg-color;
      h4 {
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        line-height: 50px;
      }
      .card-metainfo {
        cursor: pointer;
        font-size: 0.9em;
        float: right;
        color: $main-color;

        .card-location {
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }

    .card-content {
      padding:0;
      width: 100%;
      display:table;
      .card-avatar {
        padding: 5px;
        width: 40%;
        display:table-cell;
        vertical-align: top;
        min-height: 250px;
        > img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .card-info {
        width: 60%;
        display:table-cell;
        vertical-align: top;
        position: relative;
        .description {
          text-align: justify;
          padding: 11px;
          font-size: 10px;
        }
        h5 {
          font-size: 1em;
          font-weight: bold;
          text-align: center;
          color: $main-color;
        }

        .skills-list-wrapper {
          padding: 5px 25px 5px 25px;
          ul {
            li.chip {
              color: $main-color;
              border: solid $line-sep-width $header-bg-color;
              background-color: #fff;
              border-radius: 0px;
              margin-left: 0.25em;
              margin-right: 0.25em;
              min-width: 27%;
              text-align: center;

              &:hover {
                background-color: $bg-line-color;
              }
            }

          }
        }
        .card-info-bottom {
          background-color: $sec-bg-color;
          padding-left: 25px;
          vertical-align: bottom;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          .org-name {
            cursor:pointer;
            line-height: 50px;
            font-size: 1em;
            font-weight: bold;
            text-align:center;
            color: $main-color;
          }
        }
      }
    }
  }
}
.pagination {
  border-top: solid $line-sep-width $line-sep-color;
  border-bottom: solid $line-sep-width $line-sep-color;
  .ng2-pagination  {
    font-size: 0px;
    margin: 0;
    padding: 0 ;
    margin-top: - $line-sep-width;
    margin-bottom: - 2 * $line-sep-width;
    text-align: center;
    line-height: 50px;
    li {
      margin: 0;
      height: 50px;
      a {
        min-width:50px;
        position: relative;
        font-size: 12px;
        line-height: 50px;
        height: 50px;
        border: solid $line-sep-width $line-sep-color;
        margin-left: - $line-sep-width;
        z-index: 100;
        color: $header-bg-color;
        font-weight: bold;

        &:hover {
          background-color: white;
          border-color: $navbar-border-color;
          z-index: 102;
        }
      }
      &.current {
        background-color: transparent;
        padding: 0;
        min-width:50px;
        position: relative;
        font-size: 12px;
        font-weight: bold;
        line-height: 50px;
        height: 50px + $line-sep-width;
        border: solid $line-sep-width $line-sep-color;
        margin-left: - $line-sep-width;
        z-index: 100;
        border-color: $navbar-border-color;
        background-color: $header-bg-color;
        z-index: 101;
        color: white;
      }
    }
  }
}
.footer {
  border-top: solid $line-sep-width $navbar-border-color;
  background-color: $footer-bg-color;
  padding-left: 50px;

  .links-list-wrapper {
    ul {

    }
  }

}

.links-list-wrapper {
  ul {
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      line-height: 50px;
      a {
        color: $main-color;
      }
    }
  }
}

.most-right-item {
  text-align: center;
  a {
    img {
      width: 125px;
    }
  }
}


.popupCustom .leaflet-popup-content-wrapper {
  h4 {
    font-size: 1em;
  }
  img {
    width: 100%;
  }
  p {
    font-style: italic;
    font-size: 0.9em;
  }
}

.modal {
  padding: 0;
  .modal-content {
    padding: 0 25px 0 25px;
    font-size: 1.25em;
    h4 {
      font-size: 1.15em;
      background-color: $header-bg-color;
      color: $main-color;
      margin: 0 -25px 0 -25px;
      padding-left: 35px;
      line-height: 50px;
      font-weight: bold;
      border-bottom: solid $line-sep-width $line-sep-color;
    }
  }
  .modal-footer {
    border-top: solid $line-sep-width $line-sep-color;
  }
}

.keyword-field {
  position: relative;
  padding-right: 4rem;
  &__btn {
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
