@import 'variables';
body {
  font-family: Raleway;
  font-size: 14px;
  color: $main-color;
  background: $main-bg-color;
}

.preloader-wrapper{
  position: absolute;
  left: 48%;
  top: 48vh;
}

a {
  color: $main-color;
}

nav {
  background-image: url("/assets/header-bg.png");
  margin-top: $page-top;
  height: $navbar-height;
  background-color: white;
  border-top: solid $line-sep-width $line-sep-color;
  border-bottom: solid $line-sep-width $line-sep-color;
  box-shadow: none;
  line-height: $navbar-height;

  .brand-logo {
    display: table-cell;
    text-align: center;
    height: 95%;
    transition: 1s;
    > img {
      height: 100%;
      vertical-align: middle;
    }
  }

  ul {
    li {
      a {
        position: relative;
        color: $navbar-fg-color;
        line-height: $navbar-height - 2 * $line-sep-width;
        padding-left: 40px;
        padding-right: 40px;
        

        padding-top: 0 - $line-sep-width;
        margin-top: 0 - $line-sep-width;
        margin-left: - $line-sep-width;

        z-index: 100;
        &:hover{
          border-color: $navbar-border-color;
          //color: $navbar-fg-color;
          background-color: transparent;
          z-index: 102;
        }

        &.active {
          background-color: $header-bg-color;
          color: $navbar-fg-color;
          border-color: $navbar-border-color;
          font-weight: bold;
          z-index: 101;
        }

      }

      &:last-child {
        a {
        }
      }
    }

    &.dropdown-content {
      margin-left: - $line-sep-width;
      li {
        a {
          color: $navbar-fg-color;
          line-height: $dropdown-line-height;
          margin-left: 0;
          &.active {
            color: $navbar-fg-color-selected;
          }
        }
      }
    }
  }
}

.main-row {
  margin-bottom: 0;
}
#left-col {
}
#right-col {

  margin-left: - $line-sep-width;
}

.left-col {
}

.right-col {

  margin-left: - $line-sep-width;
}

.sidebar-wrapper, .content-wrapper {
  padding-top: $content-pad-top;
}

.sidebar {
  margin-top: 80px;
  margin-right: 30px;
  .section {
    padding-top: 0px;
    background-color: #fff;
    margin-top: 15px;
    border: 1px solid #009c7b;
    h4 {
      font-size: 1.15em;
      background: -webkit-linear-gradient(left top, rgb(0, 156, 123), rgb(229, 52, 113));
      background: -o-linear-gradient(bottom right, rgb(0, 156, 123), rgb(229, 52, 113));
      background: -moz-linear-gradient(bottom right, rgb(0, 156, 123), rgb(229, 52, 113)); 
      background: linear-gradient(to bottom right, rgb(0, 156, 123), rgb(229, 52, 113)); 
      color: #fff;;
      margin: 0 0 0 0;
      padding-left: 35px;
      line-height: 50px;
      font-weight: bold;
      border-bottom: solid 1px #00775e;
    }
    .input-search {
      padding: 40px 10px 10px 10px;

      #keyword {
        height: 45px;
        border: #009c7b 1px solid;;
        background: #fff;
      }
      #keyword-button {
        height: 47px;
        border-left:  #009c7b 2px solid;
        border-right: #009c7b 2px solid;
        border-top: #009c7b 2px solid;
        border-bottom: #009c7b 2px solid;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #009c7b;
      }
      #keyword-icon {
        color: #fff;
      }
    }

    &:first-of-type {
      margin-top: 0px;
    }

    .section-body {
      padding: 25px;
      h5 {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        padding: 0;
      }
      .skills-list-wrapper {
        ul {
          list-style: none;
          li {
            display:inline-block;
            min-width: 50%;
            margin-left: -5px;
            padding-left: 5px;
            label {
              font-size: 0.75em;
              color: $main-color;
              &:after {
                top: 3px;
                border-color: $header-bg-color;
              }
            }
            input:checked + label:after {
              background-color: $header-bg-color;
            }
          }
        }
      }
    }
  }
}
.sidebar:after {
  content: '';
  display: block;
  clear: both;
}




.content {
  padding-bottom: 50px;
  .main-title {
    color: $main-color;
    line-height: 50px;
    font-size: 1.15em;
    font-weight: bold;
    margin: 0;
    padding-left: 50px;
    padding-top: 15px;
    .index-prefix {
      margin-right: 2em;
    }
    
  }
//preject list
  .items-list-wrapper  {
    .card-list {
      .card-wrapper {
        display: inline-block;
        padding: 0 10px;
        width: 100%;
        .card {
          border: 1px solid #888888;
          border-radius: 5px;
          width: 100%;
          max-height: 250px;
          overflow: hidden;
          border: none;
          margin: 7px 0;
          box-shadow: none;
          border: 1px solid #71a841;
          .card-content {
            padding: 0;
            .card-avatar {
              padding: 0;
              overflow: hidden;
              width: 30%;
              float: left;
              height: 250px;
              display: inline-block;
              &:before {
                content: "";
                font-weight: 800;
                font-size: 2em;
                color: #fff;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 30%;
                background: #8dcdc1;
                opacity: 0.8;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
              }
              &:hover:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
              .card-avatar-content {
                overflow: hidden;
                width: 100%;
                height: 250px;
                object-fit: cover;
              }
                
            }
            
            .card-right-border {
              width: 1%;
              height: 300px;
              float: right;
              background: -webkit-linear-gradient(left top, rgb(132, 196, 76), rgb(0, 156, 123));
              background: -o-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 156, 123));
              background: -moz-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 156, 123)); 
              background: linear-gradient(to bottom right, rgb(132, 196, 76), rgb(0, 156, 123)); 
              border-left: #a8a8a8 solid 1px;
              display: inline-block;
            }

            .card-info {
              width: 69%;
              float: right;
              display: inline-block;
              max-height: 250px;
              padding: 0px;
              padding-bottom: 15px;
              .card-header{
                padding-left: 1vw;
                padding-right: 35px;
                .project-name {
                  cursor: pointer;
                  display: inline-block;
                  font-size: 1em;
                  font-weight: bold;
                  color: $main-color;
                  padding: 0;
                  margin: 0;
                  line-height: 50px;
                  width: 100%;
                  max-height: 20%;

                }
                .info-row {
                  margin-bottom: 0;
                  .card-metainfo {
                    cursor: pointer;
                    font-size: 0.9em;
                    color: $main-color;
                    .card-location {
                      margin-left: 1em;
                      margin-right: 1em;
                    }
                  }
                }
                hr {
                  border: 0;
                  height: 1px;
                  width: 105%;
                  background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
                  background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
                  background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
                  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
                }
              }
              .discription-wrapper {
                margin: 10px;
                overflow: hidden;
                .description {
                  text-overflow: ellipsis; 
                  padding: 11px;
                  font-size: 0.8em;
                  max-height: 5em;
                }
              }
              
              h5 {
                font-size: 1em;
                font-weight: bold;
                text-align: center;
                color: $main-color;
              }

              .skills-list-wrapper {
                padding: 5px 25px 5px 25px;
                ul {
                  .chip {
                    float: left;
                    display: inline-block;
                    color: #fff;
                    border-radius: 3px;
                    background: -webkit-linear-gradient(left top, rgb(0, 156, 123), rgb(0, 186, 146));
                    background: -o-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 186, 146));
                    background: -moz-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 186, 146)); 
                    background: linear-gradient(to bottom right, rgb(0, 156, 123), rgb(0, 186, 146)); 
                    text-align: center;
                    padding: 0;
                    font-size: 0.7em;
                    margin: 3px 5px;
                    padding: 0px 10px;
                    cursor: pointer;
                    &:hover {
                      background: #8dcdc1;
                    }
                  }
                }
                &:after {
                  content: '';
                  display: block;
                  clear: both;
                }
              } 
              .card-info-bottom {
                background-color: $sec-bg-color;
                padding-left: 25px;
                vertical-align: bottom;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                .org-name {
                  cursor:pointer;
                  line-height: 50px;
                  font-size: 1em;
                  font-weight: bold;
                  text-align:center;
                  color: $main-color;
                }
              }
            }
            .card-info:after {
              content: '';
              display: block;
              clear: both;
            }
          }
        }
      }
    }
  }
}

.single-card {
  .card {
      border: solid $line-sep-width $navbar-border-color;
    .card-header{
      line-height: 50px;
      padding-left: 35px;
      padding-right: 35px;
      background-color: $header-bg-color;
      h4 {
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        line-height: 50px;
      }
      .card-metainfo {
        cursor: pointer;
        font-size: 0.9em;
        float: right;
        color: $main-color;

        .card-location {
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }

    .card-content {
      padding:0;
      width: 100%;
      display:table;
      .card-avatar {
        padding: 5px;
        width: 40%;
        display:table-cell;
        vertical-align: top;
        min-height: 250px;
        > img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .card-info {
        width: 60%;
        display:table-cell;
        vertical-align: top;
        position: relative;
        .description {
          text-align: justify;
          padding: 11px;
          font-size: 10px;
        }
        h5 {
          font-size: 1em;
          font-weight: bold;
          text-align: center;
          color: $main-color;
        }

        .skills-list-wrapper {
          padding: 5px 25px 5px 25px;
          ul {
            li.chip {
              color: $main-color;
              border: solid $line-sep-width $header-bg-color;
              background-color: #fff;
              border-radius: 0px;
              margin-left: 0.25em;
              margin-right: 0.25em;
              min-width: 27%;
              text-align: center;

              &:hover {
                background-color: $bg-line-color;
              }
            }

          }
        }
        .card-info-bottom {
          background-color: $sec-bg-color;
          padding-left: 25px;
          vertical-align: bottom;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          .org-name {
            cursor:pointer;
            line-height: 50px;
            font-size: 1em;
            font-weight: bold;
            text-align:center;
            color: $main-color;
          }
        }
      }
    }
  }
}
.pagination {
  border-top: solid $line-sep-width $line-sep-color;
  border-bottom: solid $line-sep-width $line-sep-color;
  .ng2-pagination  {
    font-size: 0px;
    margin: 0;
    padding: 0 ;
    margin-top: - $line-sep-width;
    margin-bottom: - 2 * $line-sep-width;
    text-align: center;
    line-height: 50px;
    li {
      margin: 0;
      height: 50px;
      a {
        min-width:50px;
        position: relative;
        font-size: 12px;
        line-height: 50px;
        height: 50px;
        border: solid $line-sep-width $line-sep-color;
        margin-left: - $line-sep-width;
        z-index: 100;
        color: $header-bg-color;
        font-weight: bold;

        &:hover {
          background-color: white;
          border-color: $navbar-border-color;
          z-index: 102;
        }
      }
      &.current {
        background-color: transparent;
        padding: 0;
        min-width:50px;
        position: relative;
        font-size: 12px;
        font-weight: bold;
        line-height: 50px;
        height: 50px + $line-sep-width;
        border: solid $line-sep-width $line-sep-color;
        margin-left: - $line-sep-width;
        z-index: 100;
        border-color: $navbar-border-color;
        background-color: $header-bg-color;
        z-index: 101;
        color: white;
      }
    }
  }
}
.footer {
  border-top: solid $line-sep-width $navbar-border-color;
  background-color: $footer-bg-color;
  padding-left: 50px;

  .links-list-wrapper {
    ul {

    }
  }

}

.links-list-wrapper {
  ul {
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      line-height: 50px;
      a {
        color: $main-color;
      }
    }
  }
}

.most-right-item {
  text-align: center;
  a {
    img {
      width: 125px;
    }
  }
}


.popupCustom .leaflet-popup-content-wrapper {
  h4 {
    font-size: 1em;
  }
  img {
    width: 100%;
  }
  p {
    font-style: italic;
    font-size: 0.9em;
  }
}

.modal {
  padding: 0;
  .modal-content {
    padding: 0 25px 0 25px;
    font-size: 1.25em;
    h4 {
      font-size: 1.15em;
      background-color: $header-bg-color;
      color: $main-color;
      margin: 0 -25px 0 -25px;
      padding-left: 35px;
      line-height: 50px;
      font-weight: bold;
      border-bottom: solid $line-sep-width $line-sep-color;
    }
  }
  .modal-footer {
    border-top: solid $line-sep-width $line-sep-color;
  }
}

.keyword-field {
  position: relative;
  padding-right: 4rem;
  &__btn {
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
