.at-home {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.off-home {
  position: none;
  background-color: #1f1b0d;
  box-shadow: none;
}

.right a{
    color: #ddd;
    font-family: Century Gothic, sans-serif;;
    font-size: 1em;
    font-weight: 20;
}

.right a:hover{
  background: rgba(255, 255 ,255 , 0.2);
}



.lr-wrapper .log-reg {
  font-size: 0.7em;
  border: 1px solid white;
  border-radius: 3px;
  width: 7em;
  margin: 0.5em;
  padding:  0.3em;
  line-height: 1em;
  text-align: center;
}


.lr-wrapper{
  margin: 1em auto;
}

hr {
  margin-top: 6em;
  margin-bottom: 0.5em;
  border: 0;
  height: 1px;
  width: 70vw;
  background: #eee;
  background-image: linear-gradient(to right, #1f1b0d, #e0e0e0, #1f1b0d);
}

.page-footer{
  margin-top: 0;
  background-color: #1f1b0d;
}

.page-footer .row{
  margin-bottom: 0;
  padding: 0;
}

.page-footer ul{
  display: inline-block;
  float: right;
  margin-top: 0;
}
.page-footer li{
  display: inline-block;
  padding-left: 0.3em;
}

.page-footer a{
  padding-right: 1em;
  color: #9a9a9a;
}

.foot-left a{
  margin: 0 auto;
}

.page-footer span{
  font-family: Century Gothic, sans-serif;
  font-size: 1.3em;
}