.most-right-item {
  text-align: center;
  a {
    img {
      width: 125px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  //align-items: center;
  p {
    font-size: 1rem;
  }
}

.footer{
    background-color: #4B4B4C;
    p{
        color: #fff;
        text-align: center;
    }
}