
<!-- Top Header Menu-->
<c4sg-header></c4sg-header>
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="page-footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col offset-s4 s4 foot-right">
        <ul>
          <li><a class="mdi mdi-email mdi-24px" href="mailto:info@code4socialgood.org"></a></li>
          <li><a class="mdi mdi-linkedin-box mdi-24px" name="linkedin" href="https://www.linkedin.com/company-beta/16227162/" target="_blank"></a></li>
          <li><a class="mdi mdi-facebook-box mdi-24px" name="facebook" href="https://www.facebook.com/code4socialgood" target="_blank"></a></li>
          <li><a class="mdi mdi-twitter-box mdi-24px" name="twitter" href="https://twitter.com/code4socialgood" target="_blank"> </a></li>
        </ul>
      </div>
    </div>
    <!-- <div><img src = "assets/logocolor.png" height = "80"></div>-->
    <div class="row center"><a width="150" height="50" href="https://auth0.com/?utm_source=oss&amp;utm_medium=gp&amp;utm_campaign=oss" target="_blank" alt="Single Sign On &amp; Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-dark.png"></a></div>
  </div>
</footer>