<!-- Top Header Menu-->
<my-c4sg-header></my-c4sg-header>
<my-feedback-btn></my-feedback-btn>
<router-outlet></router-outlet>
<div class="footer">
  <div class="row">
    <div class="col m12">
      <div class="wrapper">
        <p>Code for Social Good | Registered Nonprofit Organization in U.S. | 501(c)(3) Pending</p>
        <div class="links-list-wrapper">
          <ul>
            <li><a class="mdi mdi-email mdi-36px" href="mailto:info@code4socialgood.org"></a></li>
            <li><a class="mdi mdi-linkedin-box mdi-36px" name="linkedin" href="https://www.linkedin.com/company-beta/16227162/" target="_blank"></a></li>
            <li><a class="mdi mdi-facebook-box mdi-36px" name="facebook" href="https://www.facebook.com/code4socialgood" target="_blank"></a></li>
            <li><a class="mdi mdi-twitter-box mdi-36px" name="twitter" href="https://www.twitter.com/code4socialgood" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <!--<div class="most-right-item"><img src="http://cdn.auth0.com/oss/badges/a0-badge-dark.png"></div>-->
    </div>
  </div>
</div>
