$main-color: #0c6b26;
$main-bg-color: #f0f0f0;
$bg-line-color: #e0f3cd;
$header-bg-color: #98eb9e;
$selected-bg-color: #e0f3cd;
$section-bg-color: #f9f9f9;
$navbar-border-color: #3dd768;
$navbar-fg-color-selected: #fff;
$navbar-fg-color: #27c854;
$footer-bg-color: #f2f2f2;
$sec-bg-color: #ccff99;

$page-top: 10px;
$page-bottom: 10px;
$sidebar-left: 5px;
$sidebar-right: 5px;

$line-sep-color: #e0f3cd;
$line-sep-width: 2px;

$navbar-height: 75px;
$dropdown-line-height: 40px;

$content-pad-top: 35px;

