<div id="account" class="col s12">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form materialize [formGroup]="myAccount" (ngSubmit)="updateAccount($event)">
          <div class="col s4">
            <img class="responsive-img" [attr.src]=getImage() id="responsive-img"/>
            <label class="btn waves-effect waves-light" for="file">Upload</label>
            <input type="file" name="file" id="file" accept="image/gif, image/jpeg, image/png"
                   (change)="fileChange(input)" #input/>
          </div>
          <div class="col s4">
            <div class="input-field">
              <input id="userName" type="text">
              <label for="userName">Username</label>
            </div>
            <div class="input-field">
              <input id="firstName" type="text" >
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field">
              <input id="lastName" type="text">
              <label for="lastName">Last Name</label>
            </div>
            <div class="input-field">
              <input id="email" formControlName="email" type="text">
              <label for="email">Email Address *</label>
            </div>
            <div class="input-field">
              <input id="phone" type="text">
              <label for="phone">Phone</label>
            </div>
          </div>
          <div class="col s8 offset-s4">
            <div class="col s4">
              <button class="btn waves-effect waves-light" type="submit" materialize [materializeParams]="['Your changes have been saved',4000]" [materializeActions]="globalActions">Save</button>
            </div>
            <div class="col s4">
                <button class="btn waves-effect waves-light" (click)="openModal(user)" type="button">Delete</button>
                <!-- Modal Structure -->
                <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
                <div class="modal-content">
                    <h4>CONFIRM USER DELETE</h4>
                    <p>Are you sure you want to Delete</p>
                </div>
                <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
                <a routerLink="/" class="modal-action modal-close waves-effect waves-green btn-flat"(click)="deleteUser(selectedUser)">Yes</a>
                </div>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
