
\<div class="container">
  <h3 class="center-align">Create Organization</h3>
  <div class="row">
    <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()" class="col s12">
      <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col m4 s12">

          <!-- TODO: Figure out the photo coming from db -->
          <img src="../../../assets/default_avatar.png" alt="Organization Logo" class="responsive-img" />

          <br>
          <div class="file-field input-field">
            <div class="btn">
              <span>Photo</span>
              <input type="file">
            </div>
            <br><br>
            <input class="file-path left-align" type="text">
          </div>
        </div>

        <!-- MIDDLE COLUMN -->
        <div class="col m4 s12">
          <div class="input-field">
              
             
            <label for="name" class="form-label" >
              Organization Name*
            
            </label>

            <input type="text" id="name" class="form-input" floating [ngClass]="{active: formPlaceholder.name}" formControlName="name" [ngClass]="{'validate':!organizationForm.controls['name'].valid}" >
          
          
          </div>

          <div class="input-field">
            <label for="website" class="form-label">
    
               Website
            </label>
            <input class="form-input" type="url" id="website" class="" formControlName="website">
            <div class="red lighten-5 center-align error-msg" *ngIf="organizationForm.controls.website.invalid && organizationForm.controls.website.value.length > 4 && !httpValidRegEx.test(organizationForm.controls.website.value)">
              <h6 class="red-text darken-4">Starts with "http://" or "https://"</h6>
            </div>
          </div>

          <div class="input-field">
            <label for="email" class="form-label" >
               Email
            </label>
            <input class="form-input" type="email" id="email" class="" formControlName="email">
          </div>

          <div class="input-field">
            <label for="phone" class="form-label">
              Phone
            </label>
            <input class="form-input" type="tel" id="phone" class="" formControlName="phone">
          </div>

          <div class="input-field">
            <select id="category" class="form-input" formControlName="category" materialize="material_select">
              <option value="" disabled selected>Choose category</option>
              <option *ngFor="let category of categories" value="category" [selected]="category === organization.category">{{category}}</option>
            </select>
            <label for="category" class="form-label">
              Category
            </label>
          </div>

          <div class="input-field">
            <label for="ein" class="form-label">EIN</label>
            <input class="form-input" type="text" id="ein" class="" formControlName="ein">
          </div>

 
          <div class="input-field">
            <textarea class="form-input" id="longDescription" class="materialize-textarea" formControlName="longDescription"></textarea>
            <label for="longDescription" class="form-label">
              Description
            </label>
          
        </div>

        </div>

        <!-- RIGHT COLUMN -->
        <div class="col m4 s12">
          <div class="input-field">
            <label for="address1" class="form-label">
              Address 1*
            </label>
            <input class="form-input" type="text" id="address1" class="" formControlName="address1">
          </div>

          <div class="input-field">
            <label for="address2" class="form-label">Address 2</label>
            <input class="form-input" type="text" id="address2" class="" formControlName="address2">
          </div>

          <div class="input-field">
            <label for="city" class="form-label">City</label>
            <input class="form-input" type="text" id="city" class="" formControlName="city">
          </div>
          
           <div class="input-field">
            <label for="state" class="form-label">State</label>
            <input class="form-input" type="text" id="state" class="" formControlName="state">
          </div>
          

          <div class="input-field">
            <label for="zip" class="form-label">Zip Code</label>
            <input class="form-input" type="text" id="ein" class="" formControlName="zip">
          </div>

          <div class="input-field">
            <select id="country" class="form-input" formControlName="country" materialize="material_select">
              <option value="" disabled>Choose country</option>
              <option *ngFor="let country of countries" value="country.code" [selected]="country.code === organization?.country">{{country.name + ' (' + country.code + ')'}}</option>
            </select>
            <label for="country" class="form-label">
              Country*
            </label>
          </div>

          
        </div>
      </div>

      <!-- BUTTON ROW -->
       <div class="row">
        <div class="col m4 s12 offset-m4">
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!organizationForm.valid">Create</button>
        </div>
        </div>

      

    </form>
  </div>
</div>
