@import 'variables';
@import 'app.fonts';

.content {
  position: relative;
  padding-top: $content-pad-top;
  padding-bottom: $content-pad-bottom;
  padding-left: $content-pad-left;
  padding-right: $content-pad-right;
  background-color: white;
}

.content-title {
  margin: 0;
  padding-left: 0em;
  padding-top: 10px;
  @include content-title-font;
  //padding-left: 3em;
  //background: -webkit-linear-gradient(left top, rgb(0, 156, 123), rgb(0, 185, 145));
  //background: -o-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 185, 145));
  //background: -moz-linear-gradient(bottom right, rgb(0, 156, 123), rgb(0, 185, 145));
  //background: linear-gradient(to bottom right, rgb(0, 156, 123), rgb(0, 185, 145));
  //border-bottom: $border-width #5ba55b solid;
  //.index-prefix {
  //  margin-right: 2em;
  //  font-weight: bold;
  //}
}

.content-subtitle {
  @include content-subtitle-font;
  //override the font-weight
  font-weight: normal;
}

.single-info {
  h4 {
    font-size: 1.15em;
    font-weight: bold;
  }
  .left-col {
      //border-right: solid $line-sep-width $line-sep-color;
  }
  .right-col {
    //border-left: solid $line-sep-width $line-sep-color;
    margin-left: - $line-sep-width;
  }
  .info-avatar{
      width: 100%;
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
      margin-top: 10px;
      margin-bottom: 0.75em;

      img{
        width: 100%;
        max-width: none;
        height: 100%;
        position: absolute;
        left: -50%;
        right: -50%;
        margin: auto;
      }
    }
  .info-title {
    height: 40px;
    @include content-subtitle-font;
  }
  .info-description {
    padding-bottom: 20px;
    font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4B4B4C;
    white-space: pre-wrap;
  }
  .action-btns {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
