@import "variables";

.card {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: 0 0 0;
  background: $main-bg-color;
  background-color: white;
}

.card-avatar-wrapper {
  padding: 0;
  width: 25%;
  float: left;
  height: 100%;
  display: inline-block;
  .card-avatar {
    position: relative;
    display: inline-block;
    overflow: hidden;
    left: 5%;
    margin-top: 10%;
    top: 12%;
    width: 70%;
    max-width: 100px;
    border-radius: 3px;
    &:before {
      content: "";
      display: block;
      float: left;
      padding-bottom: 100%;
      background: #000;
    }
    .card-avatar-content {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      //remove backgound per issue 565
      // background: -webkit-linear-gradient(left top, rgb(132, 196, 76), rgb(0, 212, 166));
      // background: -o-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 212, 166));
      // background: -moz-linear-gradient(bottom right, rgb(132, 196, 76), rgb(0, 212, 166));
      // background: linear-gradient(to bottom right,rgb(132, 196, 76), rgb(0, 212, 166));
      &:before {
        content: "";
        background: #000;
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
}

.card-content {
  padding: 0;
}

.card-header{
  .name {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: $main-color;
    padding: 0;
    margin: 0;
    line-height: 50px;
    width: 100%;
    max-height: 20%;
    .name:hover {
      text-decoration: underline #84c44c;
    }
  }
  .projects {
    line-height: 50px;
    vertical-align: text-bottom
  }
  .info-row {
    margin-bottom: 0;
    .org-name {
      padding-left: 0;
    }
    .card-metainfo {
      //cursor: pointer;
      font-size: 0.9em;
      color: $main-color;
      padding: 0;
      .card-location {
        margin-left: 1em;
        margin-right: 1em;
      }
       .card-metainfo:hover {
        text-decoration: underline #84c44c;

        }
    }
  }

}

.card-info {
  width: 75%;
  float: right;
  display: inline-block;
  height: 300px;
  //padding: 0px;
  padding: 0 2em;
  padding-bottom: 15px;
  //border-left: 1px solid #efefef;
  h5 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: $main-color;
  }
}

.card-info:after {
  content: '';
  display: block;
  clear: both;
}

.card-list {
  margin: 0;
  .card-wrapper {
    display: inline-block;
    width: 100%;
    border-bottom: $border-width $border-color solid;
  }
}

#right-col {
  .collapsible-body p {
    padding: 0;
  }
}
