@import 'variables';

.sidebar-wrapper {
  border-left: $border-width solid $border-color;
  border-right: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  padding-top: $content-pad;
}

.sidebar::after { // pseudo element in CSS3
  content: '';
  display: block;
  clear: both;
}

.sidebar {
  .filter-title {
    border-bottom: $border-width solid #d9d9d9;
    h4 {
        font-size: 1.15em;
        color: #5ba55b;
      }
  }
  .section {
    padding-top: 0px;
    padding-bottom: 0px;
    h4 {
        padding-left: 1em;
        @include content-title-font;
      }
    &:first-of-type {
      margin-top: 0px;
    }
    .section-body-keyword {
      height: 60px;
      width: 100%;
      margin-bottom: 0;
      padding-top: 4px;
      border-bottom: $border-width solid $border-color;
      display: block;
      input[type="search"] {
        margin-bottom: 0 !important;
      }
      .keyword-field {
        position: relative;
        padding-right: 4rem;
        &__btn {
          padding: 0 1rem;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      #keyword-title {
        color: #5ba55b;
        //max-width: 30%;
        //float: left;
        //display: inline-block;
      }
      #keyword {
        height: 42px;
        border: #5ba55b 3px solid;
        background: #fff;
        border-radius: 0 0 0 5px;
        //max-width: 60%;
        //float: left;
        //display: inline-block;
      }
      #keyword-button {
        height: 42px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0 solid #fff;
        background: #5ba55b;
        //background: -webkit-linear-gradient(left top, rgb(255, 182, 69), rgb(255, 121, 52));
        //background: -o-linear-gradient(bottom right, rgb(255, 182, 69), rgb(255, 121, 52));
        //background: -moz-linear-gradient(bottom right, rgb(255, 182, 69), rgb(255, 121, 52));
        //background: linear-gradient(to bottom right, rgb(255, 182, 69), rgb(255, 121, 52));
        //float: left;
        //display: inline-block;
        position: static;
      }
      #keyword-icon {
        color: #fff;
      }
    }
    .section-body-skills {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 25px;
      padding-top: 5px;
      h5 {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        padding: 0;
      }
    }
    .section-body-search {
      padding: 25px;
      h5 {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        padding: 0;
      }
    }
    .section-body-organization {
      padding: 10px;
      border-bottom: solid $line-sep-width $border-color;
      @include small-paragraph;
      .organization-name {
        @include content-subtitle-font;
      }
    }
    .section-body-project {
      padding: 0px;
      h5 {
        cursor: pointer;
        margin: 0;
        padding: 0;
        @include content-subtitle-font;
      }
      p {
        @include small-paragraph;
      }
      ul {
        margin: 0;
        li {
          &.card-wrapper {
            border-bottom: $border-width solid $border-color;
            padding: 10px;
            box-sizing: border-box;
          }
          .card {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            box-shadow: none;
            margin-top: 0;
            .card-header {
              h5 {
                line-height: 40px;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.skills-list {
  height: 155px;
  overflow-y: auto;
  position: relative;
  ul {
    list-style: none;
    display: inline-block;
    li {
      display:inline-block;
      float: left;
      min-width: 50%;
      margin-left: -5px;
      padding-left: 5px;
      label {
        font-size: 0.85em;
        color: #4b4a4b;
        &:after {
          top: 5px;
          width: 15px;
          height: 15px;
          border: 2px solid #4b4a4b;
          background: #fff;
          border-radius: 0;
        }
      }
      input:checked + label:after {
        background-color: #009c7b;
      }
    }
  }
}
