/*
.red-text {
  color: #F44336;
  box-shadow: 0 0 0 0 #F44336 !important;
} */

input[type=text]:focus:not([readonly]).ng-touched:not(form) {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
} 

input[type=text]:focus:not([readonly]).ng-touched.ng-valid:not(form) {
  border-bottom-color: #84c44c !important;
  box-shadow: 0 1px 0 0 #84c44c !important;
}

.ng-invalid:not(form) {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 0 0 0 #F44336 !important;
}

/*
input[type=text]:focus:not([readonly]).ng-invalid:not(form),
input[type=url]:focus:not([readonly]).ng-invalid:not(form),
textarea.materialize-textarea:focus:not([readonly]).ng-invalid:not(form) {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
} */