@import 'variables';

.page-title {
  padding-left: 10%;
  border-bottom: $border-width $page-title-background solid;
  background: $page-title-background;
  padding-top: 5px;
  padding-bottom: 0px;
  h1 {
    @include page-title-font;
    padding: 0px;
    margin: 5px;
  }
}
