@import "variables";

.location {
  line-height: 1em;
  padding-left: 1em;
  font-size: 0.75em;
}

.sidebar {
  .section {
    padding-top: 0px;
    padding-bottom: 0px;
    h4 {
        font-size: 1.15em;
        color: #4b4b4b;
        font-weight: bold;
        padding-left: 1em;
        color: #5ba55b;
      }
    &:first-of-type {
      margin-top: 0px;
    }
    .section-body {
      padding: 25px;
      h5 {
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: $main-color;
        margin: 0;
        padding: 0;
      }
      .skills-list-wrapper {
        ul {
          list-style: none;
          display: inline-block;
          li {
            display:inline-block;
            float: left;
            min-width: 50%;
            margin-left: -5px;
            padding-left: 5px;
            label {
              font-size: 0.85em;
              color: #4b4a4b;
              &:after {
                top: 5px;
                width: 15px;
                height: 15px;
                border: 2px solid #4b4a4b;
                background: #fff;
                border-radius: 0;
              }
            }
            input:checked + label:after {
              background-color: #009c7b;
            }
          }
        }
      }
    }
  }
  .filter-title {
    border-bottom: $border-width solid #d9d9d9;
    h4 {
        font-size: 1.15em;
        color: #5ba55b;;
      }
  }
}

.sidebar .section .section-body {
  padding: 0px;
  border: none;

  ul {
    margin: 0;
    li {
      border: solid $line-sep-width $line-sep-color;
      margin-top: 0.5em;
      margin-bottom: 1em;
      .card {
        box-shadow: none;
        margin-top: 0;
        .card-header {
          background-color: $sec-bg-color;
          h5 {
            line-height: 40px;
            padding-left: 20px;
          }
        }
        .card-content {
          background-color: $section-bg-color;
        }
      }
    }
  }
}

.single-info {
  h4 {
    font-size: 1.15em;
    font-weight: bold;
  }
  .left-col {
    //border-right: solid $line-sep-width $line-sep-color;
  }
  .right-col {
    //border-left: solid $line-sep-width $line-sep-color;
    margin-left: - $line-sep-width;
  }
  .info-avatar {
    padding-top: 20px;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .info-title {
    height: 40px;
    font-size: 1.15em;
    font-weight: bold;   
  }
  .info-description {
    padding-bottom: 20px;
  }
}

.subtitle {
  font-style: italic;
}