$main-color: #4B4B4C; // dark grey
$main-bg-color: #F9F9F9; // light grey
$secondary-bg-color: #84c44c; // green
$bg-line-color: #e0f3cd;
$header-bg-color: $secondary-bg-color;
$selected-bg-color: #e0f3cd;
$section-bg-color: #f9f9f9;
$navbar-border-color: #3dd768;
$navbar-fg-color-selected: #fff;
$navbar-fg-color: black;
$navbar-link-color: #4B4B4C;
$navbar-link-selected-color: #84C44C;
$footer-bg-color: #f2f2f2;
$sec-bg-color: #ccff99;
$border-color: #d9d9d9;
$page-title-bg-color: $secondary-bg-color;
$content-title-color: #84C44C;
$line-sep-color: #e0f3cd;

$page-top: 10px;
$page-bottom: 10px;

$border-width: 2px;

$line-sep-width: 2px;

$navbar-height: 75px;

$dropdown-line-height: 40px;

$content-pad-top: 10px;
$content-pad-bottom: 10px;
$content-pad-left: 20px;
$content-pad-right: 20px;
