@import "../../_style/app.theme";
.project-marked {
  display: inline-block;
  //padding-left: 1em;
  //margin-bottom: 1em;
  .icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    //stroke: #84c44c;
    //fill: #84c44c;
    stroke: #ff4f00;
    fill: #ff4f00;
    margin-right: 0.5em;
    color: #ff4f00;
  }

}


.organization-name {
  cursor: pointer;
}

.card-header {
  .organization-name:hover, .name:hover {
  text-decoration: underline;
  text-decoration-color: $secondary-bg-color;
  }
}
