<div class="card">
  <div class="card-content">
    <div class="card-avatar-wrapper">
      <div class="card-avatar">
        <my-project-image cssClass="card-avatar-content" [project]="project"></my-project-image>
      </div>
    </div>
    <div class="card-info">
      <div class="card-header">
      <div class="row">
          <div class="name">
              <div class="col m8 s12 project-name">
                <!-- <span [routerLink]="['/project/view',project.id]">{{project.name}}</span>-->
                <a href="project/view/{{project.id}}">{{project.name}}</a>
            </div>            
            <div class="col m4 s12 right"  *ngIf="from!=='myProjects'">
              <div *ngIf="userProjectStatus === 'applied'">
                <div class="project-marked">
                  <i class="material-icons icon applied-symbol">done</i>
                <!-- <svg class="icon applied-symbol">
                    <use xlink:href="../../assets/applied-bookmarked-sprite.svg#applied-symbol"></use>
                     <foreignObject>
                      <div><i> class="material-icons">done</i></div>
                     </foreignObject>
                  </svg>-->
                  <span>Applied</span>
                </div>
              </div>
              <div *ngIf="userProjectStatus === 'bookmarked'">
                <div class="project-marked">
                  <i class="material-icons icon applied-symbol">bookmark</i>
                  <!--<svg class="icon bookmarked-symbol">
                    <use xlink:href="../../assets/applied-bookmarked-sprite.svg#bookmarked-symbol"></use>
                  </svg>-->
                  <span>Bookmarked</span>
                </div>
              </div>
              <div *ngIf="userProjectStatus === 'accepted'">
                <div class="project-marked">
                  <i class="material-icons icon applied-symbol">done_all</i>
                  <!--<svg class="icon accepted-symbol">
                    <use xlink:href="../../assets/applied-bookmarked-sprite.svg#accepted-symbol"></use>
                  </svg>-->
                  <span>Accepted</span>
                </div>
              </div>
              <div *ngIf="userProjectStatus === 'declined'">
                <div class="project-marked">
                   <i class="material-icons icon applied-symbol">clear</i>
                  <!--<svg class="icon declined-symbol">
                    <use xlink:href="../../assets/applied-bookmarked-sprite.svg#declined-symbol"></use>
                  </svg>-->
                  <span>Declined</span>
                </div>
              </div>
            </div>
          </div>
            
      </div>       
      <div class="row info-row">
        <div class="col s12">
        <div class="card-metainfo col m6 ">
          <p [routerLink]="['/organization/view/', project.organizationId]" class="organization-name">{{
            project.organizationName }}</p>
        </div>
        <div class="card-metainfo col m6">
          <div class="nowrapalign">
          <span class="state" *ngIf="project.state">{{project.state}}, </span>
          <span class="state" *ngIf="project.country">{{project.country}}</span>
          <span class="joined-at" *ngIf="!project.state && !project.country">Remote</span>
          &nbsp;| &nbsp;
          <span class="joined-at" *ngIf="project.createdTime">Posted: {{project.createdTime | slice: 0:10}}</span>
        </div>
        </div>
      </div>
      </div>
      <my-tags [tags]="project.skills" [max]="4" moreUrl="project/view/{{project.id}}"></my-tags>
      <p class="description text-overflow" *ngIf="project && project.description">{{ project && project.description }}</p>
    </div>
  </div>
</div>
