@import "../../_style/app.theme";

.organization-name {
  @include content-subtitle-font;
  a:hover {
    text-decoration: underline #84c44c;  
    }
}
.available-opp-proj-name{
  h5:hover{
     text-decoration: underline #84c44c;  
  }
}
.project-marked {
  display: inline-block;
 //padding-left: 1em;
  //margin-bottom: 1em;
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: #84c44c;
    fill: #84c44c;
    margin-right: 0.5em;
  }

  span {
    color: #84c44c;
  }
}

.square-container{
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: 0.75em;

  .square{
    width: auto!important;
    position: absolute;
    height: 100%;
    left: -100%;
    right: -100%;
    margin: auto;
  }
}
