label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
.share-button-block {
  position: relative;
    width: 200px;
}
.share-button-block .fixed-action-btn {
  position: absolute;
  right: 60px;
    top: 15px;
}
.btn.share-btn {
  padding: 0 1rem;
}
.fixed-action-btn.horizontal ul {
  right: 120px;
}
.fixed-action-btn.horizontal ul li {
  margin-top: 0;
}
.btn-floating {
  text-align: center;
}
.btn-floating:hover {
  background-color: #2bbbad;
}

