@import "../../variables";

.sidebar .section .section-body {
  padding: 0px;
  border: none;

  ul {
    margin: 0;
    li {
      border: solid $line-sep-width $line-sep-color;
      margin-top: 0.5em;
      margin-bottom: 1em;
      .card {
        box-shadow: none;
        margin-top: 0;

        .card-header {
          background-color: $sec-bg-color;
          h5 {
            line-height: 40px;
            padding-left: 20px;
          }
        }
        .card-content {
          background-color: $section-bg-color;
        }
      }
    }
  }
}


.subtitle {
  font-style: italic;
}

.content {
  position: relative;
}
.more-details {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  .details {
    margin: 0;
    font-size: 0.75em; 
    font-weight: bold;
    font-style: italic;
    
    span {
      &:after {
        content: '|';
        margin-left: 0.5em;
        margin-right: 0.5em;

      }
      &:last-child {
        &:after {
          content: none;
        }
      }
     
    }
  }
}
.action-btns {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.single-info {
  h4 {
    font-size: 1.15em;
    font-weight: bold;
  }
  .left-col {
    border-right: solid $line-sep-width $line-sep-color;
  }

  .right-col {
    border-left: solid $line-sep-width $line-sep-color;
    margin-left: - $line-sep-width;
  }

  .info-avatar {
    text-align: center;
  }
  .info-description {
    border: solid $line-sep-width $line-sep-color;
    padding: 25px;

  }
}

.skills-list-wrapper {
  padding: 5px 25px 5px 25px;
  ul {
    li.chip {
      color: $main-color;
      border: solid $line-sep-width $header-bg-color;
      background-color: #fff;
      border-radius: 0px;
      margin-left: 0.25em;
      margin-right: 0.25em;
      min-width: 27%;
      text-align: center;

      &:hover {
        background-color: $bg-line-color;
      }
    }
  }
}

.action-btns {
  text-align: center;
  .btn {
    margin: 0.75em;
  }
}

.section {
  padding-bottom: 0;
  .description {
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.info-avatar {
  img {
    max-width: 100%;
  }
}

.section.sub {
  h4 {
    background-color: transparent;
    border-bottom-color: $navbar-fg-color;
  }
    
}
