@import "../../_style/app.theme";

.organization-name {
  @include content-subtitle-font;
}


.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: #5ba55b;
  fill: #5ba55b;
}
