<div class="page-title"><h1>Project</h1></div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel: Project -->
    <div class="col s8" id="left-col">
      <div class="content" *ngIf="project">
        <div class="row single-info">
          <div class="col m4">
            <div class="info-avatar" *ngIf="project.imageUrl"><img [src]="project.imageUrl"></div>
            <div class="info-avatar" *ngIf="!project.imageUrl"><img [src]="defaultAvatarProject"></div>
          </div>
          <div class="col m6">
            <div class="row">
              <h1 class="content-title" *ngIf="project">{{project.name}}</h1>
            </div>
            <div class="row">
              <div>
                <div class="content-subtitle" *ngIf="project.remoteFlag === 'Y'">Location: Remote</div>
                <div class="content-subtitle state" *ngIf="project.remoteFlag !== 'Y'">
                  Location: <span *ngIf="project.state">{{project.state}}, </span>{{project.country}}
                </div>
              </div>
            </div>
            <div class="row">
                Posted: {{project.updatedTime | date: 'MMM d, yyyy'}}
            </div>
            <div class="row">
              <div class="skills-tag-wrapper">
                <ul *ngIf="project.skills">
                  <li class="chip" *ngFor="let skill of project.skills">{{ skill }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col m2">
            <div class="row">
              <svg class="icon">
                <use xlink:href="../../assets/applied-bookmarked-sprite.svg#applied-symbol"></use>
              </svg>
              <svg class="icon icon-bookmarked">
                <use xlink:href="../../assets/applied-bookmarked-sprite.svg#bookmarked-symbol"></use>
              </svg>
            </div>
          </div>
          <hr>
          <div class="col m12">
            <div class="info-title">Description</div>
            <div class="info-description">{{ project.description }}</div>
          </div>
          <div class="row">
            <div class="col s12 action-btns">
              <button type="button" class="btn tooltipped" materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Login to Apply"
                      *ngIf="displayApply && !authService.authenticated()" (click)="apply()">Apply</button>
              <button type="button" class="btn"
                      *ngIf="displayApply && authService.authenticated()" (click)="apply()" [disabled]="projectStatusApplied">Apply</button>
              <button type="button" class="btn tooltipped" materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Login to Bookmark"
                      *ngIf="displayBookmark && !authService.authenticated()" (click)="bookmark()">Bookmark</button>
              <button type="button" class="btn"
                      *ngIf="displayBookmark && authService.authenticated()" (click)="bookmark()" [disabled]="projectStatusBookmarked">Bookmark</button>
              <!--<button type="button" class="btn" materialize [materializeParams]="[]" [materializeActions]="globalActions"-->
                      <!--*ngIf="displayBookmark" (click)="bookmark()"  [disabled]="projectStatusBookmarked">Bookmark</button>-->
              <button type="button" class="btn"
                      *ngIf="displayEdit" (click)="edit()">Edit</button>
              <button type="button" class="btn" materialize [materializeActions]="modalActions"
                      *ngIf="displayDelete" (click)="openModal(project)">Close</button>
              <!--<button class="btn waves-effect waves-light" (click)="openModal(project)" type="button">
              Delete</button>-->
              <my-shared-btn [displayShare]="displayShare"></my-shared-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Panel: Organization and projects -->
    <div class="col m4" id="right-col">
      <div class="sidebar-wrapper">
        <div class="sidebar">
          <div class="section">
            <h4>Organization</h4>
            <div class="section-body-organization">
            <div class="card">
              <div class="card-content" *ngIf="organization">
                <div class="row single-info">
                  <div class="col m4">
                    <div class="info-avatar" *ngIf="organization.logoUrl"><img [src]="organization.logoUrl"></div>
                    <div class="info-avatar" *ngIf="!organization.logoUrl"><img [src]="defaultAvatarProject"></div>
                  </div>
                  <div class="col m8 organization-name">
                    <p>
                      <a [href]="organization.websiteUrl" target="_blank" *ngIf="organization && organization.websiteUrl">{{organization.name}}</a>
                    </p>
                    <p *ngIf="!organization || organization.websiteUrl">
                       {{organization && organization.name}}
                    </p>
                  </div>
                </div>
                <p>{{ organization && organization.description  | slice:0:100 }} ...</p>
              </div>
            </div>
            </div>
            <h4 *ngIf="projects">Available Opportunities ({{projects.length}})</h4>
            <div class="section-body-project" *ngIf="projects">
              <div class="items-list-wrapper">
                <ul>
                  <li class="card-wrapper" *ngFor="let pr of projects.slice(0,5)">
                    <div class="card">
                      <div class="card-content">
                        <div class="row single-info">
                          <div class="col m4">
                            <div class="info-avatar" *ngIf="pr.imageUrl"><img [src]="pr.imageUrl"></div>
                            <div class="info-avatar" *ngIf="!pr.imageUrl"><img [src]="defaultAvatarProject"></div>
                          </div>
                          <div class="col m8">
                            <h5 [routerLink]="['/project/view/', pr.id]">{{pr.name}}</h5>
                          </div>
                          <div class="row">
                          <div class="skills-tag-wrapper">
                            <ul *ngIf="pr.skills">
                              <li class="chip" *ngFor="let skill of pr.skills">{{ skill }}</li>
                            </ul>
                          </div>
                          </div>
                        </div>
                        <p>{{ pr.description  | slice:0:100 }} ...</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirm Project Deletion</h4>
    <p>Are you sure you want to delete the project?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="delete()" materialize
       [materializeActions]="deleteGlobalActions">Yes</a>
  </div>
</div>
