@import "../../_style/app.theme";

.organization-name {
  @include content-subtitle-font;
}

.project-marked {
  display: inline-block;
 //padding-left: 1em;
  //margin-bottom: 1em;
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: #84c44c;
    fill: #84c44c;
    margin-right: 0.5em;
  }

  span {
    color: #84c44c;
  }
}

