@import '../../_style/variables.scss';

.share-button-block {
  position: relative;
  width: 200px;
  height: 36px;

  .fixed-action-btn {
    position: absolute;
    right: 0;
    top: 0;
    &.horizontal ul {
      right: 120px;
      li {
        margin-top: 0;
      }
    }
  }
  .btn.share-btn {
    padding: 0 1rem;
    background-color: #fff;
    border: 2px solid $secondary-bg-color;
    color: $secondary-bg-color;
    &:hover {
      background-color: $secondary-bg-color;
      color: #fff;
    }
  }

  .btn-floating {
    text-align: center;
    background-color: $secondary-bg-color;
    &:hover {
      background-color: #fff;
      border: 2px solid $secondary-bg-color;
    }
  }
}
