<!-- Search Projects-->
<div class="container">
  <div class="row center">
    <div class="col s12 l3 input-field inline">
      <td>
        <input #projectName id="name" type="text"/>
        <label for="name">keyword</label>
      </td>
      <td>
        <button (click)="getProjectsByKeyword(projectName.value); projectName.value=''" class="btn waves-effect waves-light grey darken-3"><i class="large material-icons grey darken-3">search</i></button>
      </td>
    </div>


    <!-- List Projects-->
    <div class="col s12 l9">
      <p *ngIf = "projects">{{projects.length}} volunteer opportunities found</p>
      <ul class="projects">
        <li class="row" *ngFor="let project of projects" (click)="onSelect(project)" [class.selected]="project === selectedProject">
            <div class="col s3 m3 l3 card-image">
              <img class="responsive-img" src={{project.image}} width="200px" height="200px">
            </div>

            <div class="col s9 m9 l9 card-content">
             <h5 class="left-align">{{project.name}}</h5>
              <h6 class="left-align">{{project.organizationName}}</h6>
              <p class="left-align">{{project.description}}</p>
              <span class="right-align">{{project.createTime}}</span><br>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--src={{project.image}}-->
