.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.projects {
  margin: 0 0 2em 0;
  list-style-type: none;
}

.projects li {
  display: block;
  cursor: pointer;
  position: relative;
  left: 0;
  padding: 1em 0.5em;
  background-color: #EEE;
  border-radius: 4px;
}

.projects li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.projects li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.projects .text {
  position: relative;
  top: -3px;
}

.card-content h5 {
  margin-top: 0;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  float: right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color: white;
}

