<div class="page-title clearfix">
  <div *ngIf="!isCreate">
    <h1>Edit Project</h1>
  </div>
  <div *ngIf="isCreate">
    <h1>Create Project</h1>
  </div>
</div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel -->
    <div class="col s3" id="left-col">
      <div class="content sidebar-wrapper">
        <div class="row single-info">
          <h4 class="col s12 m12 l12 image-title">Project Image</h4>
          <div class = "col offset-s8 offset-m8 offset-l8">
            <a *ngIf="imageUrl" class="btn-small btn-floating grey" (click)="deleteImage()"><i
              class="icon-small material-icons center-align">close</i></a>
          </div>
          <div class="col s12  m12 l7 avatar-container">
            <div class="info-avatar z-depth-2">
              <img class="responsive-img" *ngIf="imageUrl" id="responsive-img" [src]="imageUrl">
              <img class="responsive-img" *ngIf="!imageUrl" id="responsive-img" [src]="constantsService.defaultImage">
            </div>
            <div>
              <!--<div class="input-field file-field row">
                <button class="btn waves-effect waves-light avatar-upload-button">Upload
                  <input #input type="file" name="file" accept="image/gif, image/jpeg, image/png" (change)="onUploadImage($event)">
                </button>-->
              <div class="input-field file-field row">
                <div class="button btn waves-effect waves-light avatar-upload-button">
                  <span>Upload image</span>
                  <input #input type="file" name="file" accept="image/gif, image/jpeg, image/png" (change)="onUploadImage($event)">
                 </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row single-info" *ngIf="isOrgNew && isUserInfoIncomplete">
          <div class="sidebar-wrapper-divider"></div>
          <div class="col s12 m12 l12 highlight-title">Please complete your user profile and organization profile before posting projects.</div>
        </div>
        <div class="row single-info" *ngIf="isOrgNew && !isUserInfoIncomplete">
          <div class="sidebar-wrapper-divider"></div>
          <div class="col s12 m12 l12 highlight-title">Please complete your organization profile before posting projects.</div>
        </div>
        <div class="row single-info" *ngIf="!isOrgNew && isUserInfoIncomplete">
          <div class="sidebar-wrapper-divider"></div>
          <div class="col s12 m12 l12 highlight-title">Please complete your user profile before posting projects.</div>
        </div>
        <!-- We skip org review process during first release
        <div class="row single-info" *ngIf="isOrgPending">
          <hr>
          <div class="col s12 m12 l12 highlight-title"> Your organization is under review. You will be able to create project after your organization is approved. We will notify you as soon as possible.</div>
        </div> -->
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col s9 panel-background-color" id="right-col">
      <div class="content">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value, $event)" class="col s12" novalidate>
          <div class="row">
            <div class="content-title">Introduction</div>
            <div class="input-field col s6">
              <input [maxlength]="100" id="name" type="text" formControlName="name" class="validate" required>
              <label for="name" id="name-label">Project Name *</label>
            </div>
            <div class="row">
              <div class="col s6 theme-select dropdown">
                <label for="jobTitleId">Category</label>
               <!-- <div class="theme-select dropdown">-->
                  <select id="jobTitleId" class="browser-default" formControlName="jobTitleId" materialize="material_select">
                    <option value=""  disabled selected>Choose Category</option>
                    <option *ngFor="let jobTitle of jobTitlesArray" [value]="jobTitle.id"
                    [selected]="jobTitle.id === project?.jobTitleId">{{jobTitle.jobTitle}}</option>
                  </select>
               <!-- </div>-->
              </div>
            </div>
            <div class="input-field col s12">
              <textarea id="description" [maxLength]="descMaxLength" class="materialize-textarea" formControlName="description" required
                (click)="onCountCharDescription()" (input)="onCountCharDescription()" (focus)="onFocusDescription()" (blur)="onBlurDescription()">
              </textarea>
              <label for="description" id="desc-label">Project Description *
                <span *ngIf="descFieldFocused"> ({{ descValueLength + '/' + descMaxLength }})</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="content-title">Location</div>
            <div class="col s12 l6">
              <div class="row">
                <div class="col s12">
                  <input class="with-gap" name="remoteFlag" type="radio" id="btn-remote"
                  value="Y" required formControlName="remoteFlag" />
                  <label for="btn-remote">Remote</label>
                </div>
              </div>
            </div>
            <div class="col s12 l6">
              <div class="row">
                <div class="col s12">
                  <input class="with-gap" name="remoteFlag" type="radio" id="btn-local"
                  value="N" required formControlName="remoteFlag" />
                  <label for="btn-local">Local</label>
                </div>
              </div>
              <div >
                <div class="row" >
                  <div class="input-field col s6"  >
                    <input [maxlength]="100" id="city" type="text"
                    formControlName="city" >
                    <label for="city" id="city-label">City</label>
                  </div>
                  <div class="input-field col s6">
                    <input [maxlength]="100" id="state" type="text"
                    formControlName="state" >
                    <label for="state" id="state-label" >State</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12 theme-select dropdown">
                    <label for="country">Country</label>
                    <!--<div class="theme-select dropdown">-->
                      <select id="country" class="browser-default" formControlName="country" materialize="material_select">
                        <option value="" disabled selected>Choose country</option>
                        <option *ngFor="let country of countries" [value]="country.code" [selected]="country.code === project?.country">{{country.name + ' (' + country.code + ')'}}</option>
                      </select>
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="content-title">Skills</div>
            <div class="col s10">
              <my-select-skill [projectSkillsArray]="projectSkillsArray" (onDeleteSkill)="onDeleteSkill($event)"></my-select-skill>
            </div>
          </div>
          <div class="row">
            <div class="col s6 theme-select dropdown">
              <label for="skillSelect">Choose from popular skills below</label>
              <select id="skillSelect" class="browser-default" materialize="material_select" (change)="onAddListedSkill($event)">
                <option value="" disabled selected>Choose skills</option>
                <option *ngFor="let skill of skillsArray" [value]="skill">{{ skill }}</option>
              </select>
            </div>
            <div class="col s6">
              <div class="input-field col s10 skills-margin">
                <label [ngClass]="{active: inputValue}" for="newSkill">Enter additional skills</label>
                <input [maxlength]="100" id="newSkill" type="text" placeholder="" #inputSkill [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col s2 skills-margin">
                <a class="btn-floating btn waves-effect waves-light" (click)="onAddOwnSkill(inputSkill)"><i
                    class="material-icons">add</i></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col m12">
              <!-- Invalid input fields are underlined with red, the hints below are unnecessary anymore
              <div class="divider"></div>
              <label for="saveBtn" class="red-text">
                  <div *ngIf="projectForm.get('name').pristine && !projectForm.get('name').valid">
                    Please enter Project Name
                  </div>
                  <div *ngIf="projectForm.get('description').pristine && !projectForm.get('description').valid">
                    Please enter Project Description
                  </div>
              </label> -->
              <div class="footer-btns center section">
                <button class="btn waves-effect waves-light" id=saveBtn type="submit" [disabled]="!projectForm.valid || !isOrgActive || isOrgNew || isUserInfoIncomplete">
                   Save
                </button>
                <button type="button" class="btn waves-effect waves-light" materialize [materializeActions]="modalActions" *ngIf="displayClose" (click)="openModal()">Close
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirm Project Close</h4>
    <p>Are you sure you want to close the project?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">No</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onClose()">Yes</a>
  </div>
</div>
