@import "../../_style/app.theme";
.panel-background-color{
  background-color: white;
}

.skills-margin{
  margin-top: 5%;
}

.btn-small {
  height: 35px;
  width: 35px;
}

.icon-small {
  font-size: 15px;
}
