<div class="page-title">
  <div *ngIf="projectId != 0">Edit Project</div>
  <div *ngIf="projectId == 0">Create Project</div>
</div>
<div class="container">
  <div class="row main-row">
    <!-- Left Panel -->
    <div class="col s3" id="left-col">
      <div class="content" *ngIf="project">
        <div class="row single-info">
          <div class="col m12">
            <div class="info-avatar" *ngIf="project.imageUrl"><img [src]="project.imageUrl"></div>
            <div class="input-field file-field">
              <div class="btn">Upload</div>
              <!-- TODO after S3 is available
              <div class="btn">
                <span>Upload</span>
                <input type="file" (change)="onUploadImage($event)">
              </div>
              <div class="red lighten-5 center-align error-msg" *ngIf="!logoValid">
                <h6 class="red-text darken-4">Max file size allowed is 1MB</h6>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col s9" id="right-col">
      <div class="content">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit(projectForm.value, $event)" class="col s12">
          <!--<div class="row">
            <div class="input-field col s12">
              <input id="organization_name" type="text" class="validate" formControlName="organizationName"
                     placeholder="">
              <label for="organization_name">Organization Name</label>
            </div>
          </div>-->

          <div class="row single-info">
            <div class="row">
              <h1 class="content-title">Introduction</h1>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="project_name"></label>
                  <span>Project Name</span>
                  <input class="theme-input validate" id="project_name" formControlName="projectName" type="text">
                </div>
              </div>
          /*
          <div class="row">
            <div class="content-title">Introduction</div>
            <div class="input-field col s12" *ngIf="displayOrgField">
              <input id="organizationId" type="number" class="validate" formControlName="organizationId">
              <label for="organizationId">Organization Id <sup>&#10033;</sup></label>
            </div>
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" formControlName="name">
              <label for="name">Project Name <sup>&#10033;</sup></label>
            </div>
            <div class="input-field col s12">
              <textarea id="description" class="materialize-textarea" formControlName="description"
                    placeholder=""></textarea>
              <label for="description">Project Description</label>*/
            </div>

            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <label for="project_description"></label>
                  <span>Project Description</span>
                  <textarea id="project_description" class="materialize-textarea " formControlName="projectDescription" placeholder=""></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <h1 class="content-title">Location</h1>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="row">
                  <div class="input-field">
                    <input class="with-gap" name="remoteFlag " type="radio" id="btn-remote" value="Y" formControlName="remoteFlag" />
                    <label for="btn-remote"></label>
                    <span>Remote</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="row">
                  <div class="input-field">
                    <input class="with-gap" name="remoteFlag" type="radio" id="btn-local" value="N" formControlName="remoteFlag" />
                    <label for="btn-local"></label>
                    <span>Local</span>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{disabled: projectForm.controls.remoteFlag.value === 'Y'}">

              <div class="row">
                <div class="col s12 m6">
                  <div class="input-field">
                    <label for="city"></label>
                    <span>City</span>
                    <input class="validate" id="city" formControlName="city" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6">
                  <div class="input-field">
                    <label for="state"></label>
                    <span>State</span>
                    <input id="state" type="text" class=" validate" formControlName="state">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6">
                  <div class="input-field">
                    <label for="country"></label>
                    <span>Country</span>
                    <select id="country" class="" formControlName="country" materialize="material_select">
                      <option value="" disabled>Choose country</option>
                      <option *ngFor="let country of countries" [value]="country.code">{{country.name + ' (' +
                        country.code + ')'}}
                      </option>
                    </select></div>
                </div>
              </div>
              <div></div>
              <div class="row">
                <h1 class="content-title">Skills</h1>
              </div>
              <div class="row">
                <div class="col s10">
                  <my-select-skill [projectSkillsArray]="projectSkillsArray" (onDeleteSkill)="onDeleteSkill($event)"></my-select-skill>
                </div>
              </div>
              <div class="row">
                <div class="col s5 ">
                  <div class="input-field">
                    <label for="skillSelect"></label>
                    <span>Choose from below</span>
                    <select id="skillSelect" class="" materialize="material_select" (change)="onAddListedSkill($event)">
                  <option *ngFor="let skill of skillsArray" [value]="skill">{{ skill }}</option>
                    </select>
                  </div>
                </div>
                <div class="col s5 ">
                  <div class="input-field">
                    <label [ngClass]="{active: inputValue}" for="newSkill"></label>
                    <span>Enter your own</span>
                    <input id="newSkill" type="text" class="validate" #inputSkill [(ngModel)]="inputValue" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col s2">
                  <a class="btn-floating btn waves-effect waves-light" (click)="onAddOwnSkill(inputSkill)"><i
                    class="material-icons">add</i></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col m12">
                <div class="footer-btns center">
                  <button class="btn waves-effect waves-light" type="submit" materialize [materializeParams]="['Your changes have been saved',4000]"
                    [materializeActions]="globalActions">
                  Save
                </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>