.error-msg {
  padding: 2px;
  border-radius: 2px;
}

.file-path {
  max-width: 200px;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0.5em;
}

.material-icons.req-field {
  vertical-align: super !important;
  font-size: 0.5rem !important;
}

.ng-invalid:not(form).ng-touched  {
  border-bottom: 3px solid #b71c1c;
}

.ng-valid:not(form).ng-touched  {
  border-bottom: 3px solid #008000;
}
