<div class="container">
    <h4>Volunteer User Dashboard</h4>
</div>

<div class="row">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s2"><a href="#account">My Account</a></li>
        <li class="tab col s2"><a href="#endorsement">My Endorsements</a></li>
        <li class="tab col s2"><a href="#projects">My Projects</a></li>
        <li class="tab col s2"><a href="#user">Connections - User</a></li>
        <li class="tab col s2"><a href="#nonprofit">Connections - Nonprofit</a></li>
	<p><li class="tab col s2"><a href="#account">My Account</a></li></p>
      </ul>

<button type="button">Upload</button> <p> </p>


<textarea rows="2" cols="50">
User name*
</textarea>
<textarea rows="2" cols="50">
City
</textarea>
<textarea rows="2" cols="50">
First Name
</textarea>
<textarea rows="2" cols="50">
State
</textarea>
<textarea rows="2" cols="50">
Last Name
</textarea>
<textarea rows="2" cols="50">
Country*
</textarea>
<textarea rows="2" cols="50">
Email Address*
</textarea>
<textarea rows="2" cols="50">
Zip
</textarea>
<textarea rows="2" cols="50">
New Password
</textarea>
<textarea rows="2" cols="50">
Confirm Password
</textarea>

<textarea rows="4" cols="103">
Introduction
</textarea>

<textarea rows="2" cols="50">
Linkedin URL
</textarea>
<textarea rows="2" cols="50">
Github URL
</textarea>
<textarea rows="2" cols="50">
Personal Website
</textarea>
<textarea rows="2" cols="50">
Resume
</textarea>
    </div>

<html>
<body>
	<h1> Skills </h1>

<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Skill 1"> Skill 1<br>
  <input type="checkbox" name="vehicle" value="Skill 2"> Skill 2<br>
  <input type="submit" value="Submit">
</form>


<button type="button">Save</button> <p> </p> <button type="button"> Delete</button> <p> </p> <button type="button">Cancel</button> <p> </p>




</body>
</html>
    <div id="account" class="col s12">My Account
    </div>

    <div id="endorsement" class="col s12">My Endorsements
    </div>

    <div id="projects" class="col s12">My Projects
    </div>

    <div id="user" class="col s12">My Conenctions - User
    </div>

    <div id="nonprofit" class="col s12">My Conenctions - Nonprofit
    </div>
</div>
