<div class="container">
    <h4>Volunteer User Dashboard</h4>
</div>

<div class="row">
    <div class="col s12">
      <ul materialize="tabs" class="tabs">
        <li class="tab col s2"><a href="#account">My Account</a></li>
        <li class="tab col s2"><a href="#endorsement">My Endorsements</a></li>
        <li class="tab col s2"><a href="#projects">My Projects</a></li>
        <li class="tab col s2"><a href="#user">Connections - User</a></li>
        <li class="tab col s2"><a href="#nonprofit">Connections - Nonprofit</a></li>
      </ul>
    </div>

    <div id="account" class="col s12">My Account
    </div>

    <div id="endorsement" class="col s12">My Endorsements
    </div>

    <div id="projects" class="col s12">My Projects
    </div>

    <div id="user" class="col s12">My Conenctions - User
    </div>

    <div id="nonprofit" class="col s12">My Conenctions - Nonprofit
    </div>
</div>