<div class="list-title">
  <h4>Volunteers</h4>
</div>
<div class="list-container">
  <div class="row main-row">
    <div class="col m4" id="list-left-col">
        <form class="sidebar" [formGroup]="filterForm" (ngSubmit)="getUsers(p)">
          <div class="section">
            <div class="input-search row">
              <h4 id="keyword-title" class="col m3 s12">Keyword</h4>
              <input id="keyword" class="col m6 s9" name="keyword" materialize="autocomplete" type="search" formControlName="keyword" placeholder="   keyword">
              <button type="search" class="col m3 s3" class="keyword-field__btn waves-effect waves-light" id="keyword-button">
                <i  class="material-icons transparent" id="keyword-icon">search</i>
              </button>   
            </div>
          </div>
          <div class="section">
          </div>
          <div class="section">
            <h4>Skills</h4>
            <div class="section-body">
              <div class="skills-list-wrapper">
                <ul *ngIf="skills" formArrayName="skills">
                  <li *ngFor="let skill of skills, let i = index">
                    <input class="filled-in" type="checkbox" [id]="skill.name" formControlName="{{i}}">
                    <label [for]="skill.name">{{skill.name}}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="col m8 s12" id="list-right-col">
      <div class="content-wrapper">
        <div class="content" *ngIf="users">
          <div class="row">
            <h4 class="main-title"><span class="index-prefix">{{totalItems}}</span>volunteers found</h4>
            <div class="list-item-group col s12">
              <div class="items-list-wrapper">
                <ul class="card-list" *ngIf="users">
                  <li class="card-wrapper" *ngFor="let user of users | paginate: {itemsPerPage: 10, id: 'usersPages', currentPage: p, totalItems: totalItems}; let i = index">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-avatar-wrapper">
                          <div class="card-avatar">
                            <img class="card-avatar-content" [src]="user.avatarUrl" *ngIf="user.avatarUrl">
                          </div>
                          {{user.userName}}
                          <div class="card-info-bottom">
                            <div class="links-list-wrapper">
                              <ul>
                                <li><a class="mdi mdi-email" [class.not-active]="!user.email" href="mailto:{{user.email}}"></a></li>
                                <li><a class="mdi mdi-linkedin-box" [class.not-active]="!user.linkedinUrl" name="linkedin" [href]="user.linkedinUrl"  target="_blank"></a></li>
                                <li><a class="mdi mdi-facebook-box" [class.not-active]="!user.facebookUrl" name="facebook" [href]="user.facebookUrl" target="_blank"></a></li>
                                <li><a class="mdi mdi-twitter-box" [class.not-active]="!user.twitterUrl" name="twitter" [href]="user.twitterUrl" target="_blank"> </a></li>
                                <li><a class="mdi mdi-github-box" [class.not-active]="!user.githubUrl" name="twitter" [href]="user.githubUrl" target="_blank"> </a></li>
                                <li><a class="mdi mdi-link-variant" [class.not-active]="!user.personalUrl" name="twitter" [href]="user.personalUrl" target="_blank"> </a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card-info">
                          <div class="card-info-wrapper">
                            <div class="card-header">
                              <div class='name'>
                                <span [routerLink]="['/user/view',user.id]">{{user.firstName + ' ' + user.lastName}}</span>
                              </div>
                              <div class="row info-row">
                                <div class="card-metainfo col m6">
                                  <p>{{user.title}}</p>
                                </div>
                                <div class="card-metainfo col m6">
                                  <span class="card-location" *ngIf="user.country">{{user.country}}</span>
                                </div>
                              </div>
                              <hr>                            
                            </div>                      
                            <div class="skills-list-wrapper">
                              <ul *ngIf="user.skills">
                                <li class="chip" *ngFor="let skill of user.skills">{{ skill }}</li>
                              </ul>
                            </div>
                          </div>
                          <p class="description">{{ user.introduction }}</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pagination">
              <pagination-controls (pageChange)="p = $event" id="usersPages" autoHide="false"></pagination-controls>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>