.selected {
    background-color: #CFD8DC !important;
    color: darkseagreen;
}
.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 70em;
}
.users .label .h3 {
    text-align: right;
    height: 30em !important;

}
.users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 15em;
    border-radius: 4px;
}
.users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.users li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.users .text {
    position: relative;
    text-align: right;
    top: -3px;
}

.users .colData {
    position: relative;
    text-align: right;
    top: -3px;
}
.users .colLabel {
    position: relative;
    text-align: right;
    top: -3px;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button.delete, button.edit {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
}

