<!--<div class="maindiv">
<div class="action">
    <div class="aniSlogan-background">
        <div id="aniSlogan">
            It doesn't matter if you
            <br> code for <span id="aniWord" [@toggleColor]="wordColorIndex">{{aniWord}}</span>
            <span [@cursorFlash]="cursorState">&nbsp;_</span><br> Get started now!
        </div>

    </div>
</div>
</div>-->

<!--<div class="section no-padding">

        <div class="row">
            <div class="col s6 offset-s3 m3 offset-m5">
              <td class="input-field">
                <input #projectName id="name" type="text" class="input-pre">
                <label for="name">Keyword</label>
              </td>
              <td>
                <button (click)="getProjectsByKeyword(projectName.value); projectName.value='';"
                        [@buttonState]="state"
                        (mouseover)="toggleState()"
                        (mouseout)="toggleState()"
                        class="btn waves-effect waves-light #84c44c search_button">
                    <i class="large material-icons transparent" >search</i>
                </button>
              </td>
            </div>
        </div>

</div>-->

<!--<div class="maindiv">
  <div class="action">
    <div class="aniSlogan-background">
      <div id="aniSlogan">
        It doesn't matter if you
        <br> code for <span id="aniWord" [@toggleColor]="wordColorIndex">{{aniWord}}</span>
        <span [@cursorFlash]="cursorState">&nbsp;_</span><br> Get started now!
      </div>
    </div>
  </div>
</div>-->

<div class="maindiv">
    <div class="action">
        <video autoplay playsinline loop muted>
            <source src="/assets/videobackground.mp4" type="video/mp4">
            <source src="/assets/videobackground.webm" type="video/webm">
            <!--<source src="movie.ogg" type="video/ogg">-->
            Your browser does not support the video tag.
        </video>
        <div class="aniSlogan-background">
          <div id="aniSlogan">
            It doesn't matter if you
            <br> code for <span id="aniWord" [@toggleColor]="wordColorIndex">{{aniWord}}</span>
            <span [@cursorFlash]="cursorState">&nbsp;_</span><br> Get started now!
          </div>
          <div><br><button class="btn-bordered" type="submit" (click)="loadProjects()">Find Projects</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn-bordered" (click)="loadVolunteers()" type="submit" >Find Volunteers</button></div>
        </div>        
    </div>    
</div>   
    


<div class="section no-padding">
  <div class="row">
    <div class="green-ribbon">
      GLOBAL NETWORK WHERE SOCIAL GOOD HAPPENS
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col s12 m5">
        <div class="second-section">
          <div class="second-section-heading volunteer-heading">VOLUNTEERS</div>
          <div class="second-section-text">
            Browse and apply for projects<br>
            Receive notification on new projects<br>
            Get contacted by potential nonprofits<br>
            Access to consultants on technical challenges
          </div>
        </div>
        <br>
        <div class="center second-section-text">
          <button class="button-bordered" type="submit" (click)="authSvc.login()">SIGN UP</button>
        </div>
        <br>
        <div>
          <img src="../../assets/Volunteers_icons.svg">
        </div>
      </div>

      <div class="col s12 m5 offset-m2">
        <div class="second-section">
          <div class="second-section-heading organization-heading">ORGANIZATIONS</div>
          <div class="second-section-text">
            Post projects<br>
            Review and accept applicants<br>
            Reach out to potential volunteers<br>
            Access to consultants on technical directions
          </div>
        </div>
        <br>
        <div class="center second-section-text">
          <button class="button-bordered" type="submit" (click)="authSvc.login()">REGISTER</button>
        </div>
        <br>
        <div>
          <img src="../../assets/Organizations_icons.svg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section no-padding">
  <!--<div class="container">-->
  <div class="row">
    <div class="col s12 m2 offset-m5">
      <img src="../../assets/GreenArrow.svg" class="green-arrow-img">
    </div>
  </div>
  <!--</div>-->
</div>
<div class="section no-padding">
  <div class="green-ribbon white-text">
    STAY CONNECTED AND MAKE AN IMPACT FOR BETTER WORLD
  </div>

  <!--<div class="container">-->
  <div class="row">
    <div class="col s12 m12 l10">
      <div class="map" *ngIf="countries">
        <agm-map
          [latitude]="lat "
          [longitude]="lng "
          [zoom]="zoom "
          [scrollwheel]="false">

            <!--<agm-marker
              *ngFor="let d of developers "
              [latitude]="d.latitude "
              [longitude]="d.longitude "
              (mouseOver)="handleMarkerMouseOver($event) "
              iconUrl="http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            >
              <agm-info-window>
                <div class="info-window ">
                  <a class="info-container" [routerLink]="[ '/user/view',d.id] ">
                    <div class="info-avatar ">
                      <img [src]="d.avatarUrl " onError="this.src='../../assets/default_avatar.png' ">
                    </div>
                    <div class="user-name content-title">
                      {{d.firstName}}
                    </div>
                    <div class="user-name ">
                        {{d.title}}
                      </div>
                    <div class="user-location ">
                      <span *ngIf="d.state ">{{d.state}}</span>
                      <span *ngIf="d.state && d.country ">,</span>
                      <span *ngIf="d.country ">{{getCountryName(d.country)}}</span>
                    </div>
                  </a>
                </div>
              </agm-info-window>
          </agm-marker>

          <agm-marker *ngFor="let o of organizations " [latitude]="o.latitude " [longitude]="o.longitude " (mouseOver)="handleMarkerMouseOver($event) "
            iconUrl="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
            <agm-info-window>
              <div class="info-window ">
                <a class="info-container " [routerLink]="[ '/organization/view',o.id] ">
                  <div class="info-avatar ">
                    <img [src]="o.logoUrl " onError="this.src='../../assets/default_image.png' ">
                  </div>
                  <div class="content-title ">
                    {{o.name}}
                  </div>
                  <div class="state ">
                    <span *ngIf="o.state ">{{o.state}}</span>
                    <span *ngIf="o.state && o.country ">,</span>
                    <span *ngIf="o.country ">{{getCountryName(o.country)}}</span>
                  </div>
                </a>
              </div>
            </agm-info-window>
          </agm-marker> -->
          <div *ngFor="let c of countries ">
          <agm-marker *ngIf="c.volunteers || c.organizations" [latitude]="c.latitude " [longitude]="c.longitude " (mouseOver)="handleMarkerMouseOver($event) "
            iconUrl="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
            <agm-info-window>
              <div class="info-window ">
                <a class="info-container ">
                  <div class="content-title">
                    {{c.name}}
                  </div>
                  <div class="divider" style="margin-top: 0.5em; margin-bottom: 0.5em;"></div>
                  <div class="name">
                    <span *ngIf="c.volunteers" style="font-weight: bold;">Volunteers: {{c.volunteers}}</span>
                  </div>
                  <div class="name ">
                    <span *ngIf="c.organizations" style="font-weight: bold;">Organizations: {{c.organizations}}</span>
                  </div>
                </a>
              </div>
            </agm-info-window>
          </agm-marker>
          </div>
        </agm-map>
      </div>
    </div>
    <div class="col l2">
      <div class="divStats largeScreen  hide-on-med-and-down">
        <table class="tableStats">
          <tr>
            <td>
              <div>Volunteers: {{numberOfVolunteers}}</div>
              <div class="spanPublicVolunteer">
                ({{numberOfPublicProfiles}} with public profile)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div>Projects: {{numberOfProjects}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>Organizations: {{numberOfOrganization}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>Countries: {{numberOfCountries}}</div>
            </td>
          </tr>
        </table>
      </div>      
    </div>
  </div>
  <div class="row">
      <div id="mediumToSmallScreen" class="divStats hide-on-med-and-up show-on-medium-and-down hide-on-extra-small-and-down">
          <div class="row">
              <div class="col s3">
                  <div>{{numberOfVolunteers}}</div>
                  <div>Volunteers</div>
                  <div class="spanPublicVolunteer">
                    ({{numberOfPublicProfiles}} with public profile)
                  </div>
              </div>
              <div class="col s3">
                  <div>{{numberOfProjects}}</div>
                  <div>Projects</div>
              </div>
              <div class="col s3">
                  <div>{{numberOfOrganization}}</div>
                  <div>Organizations</div>
              </div>
              <div class="col s3">
                  <div>{{numberOfCountries}}</div>
                  <div>Countries</div>
              </div>
          </div>
      </div>
      <div id="verySmallScreen" class="divStats hide-on-extra-small-and-up show-on-extra-small-and-down">
          <div class="row">
              <div class="col s6">
                  <div>{{numberOfVolunteers}}</div>
                  <div>Volunteers</div>
                  <div class="spanPublicVolunteer">
                    ({{numberOfPublicProfiles}} with public profile)
                  </div>
              </div>
              <div class="col s6">
                  <div>{{numberOfProjects}}</div>
                  <div>Projects</div>
              </div>
          </div>
          <div class="row">
              <div class="col s6">
                  <div>{{numberOfOrganization}}</div>
                  <div>Organizations</div>
              </div>
              <div class="col s6">
                  <div>{{numberOfCountries}}</div>
                  <div>Countries</div>
              </div>
          </div>
      </div>
  </div>
  <!--</div>-->
</div>
<br>
<div class="section no-padding container">
  <div class="white-ribbon">
    ONE PROJECT AT A TIME, WE ARE CHANGING THE WORLD
  </div>
  <br>
  <!--<div class="container">-->
  <!--<div class="row" *ngIf="topThreeProjects">
    <div class="col s12 m4" *ngFor="let project of topThreeProjects">
        <div>
            <div class="featured-project-img-div center-align" *ngIf="project.imageUrl">
              <img class="featured-project-img" [src]="project.imageUrl" onError="this.src='../../assets/default_image.png'">
            </div>
            <div *ngIf="!project.imageUrl">
              <img class="featured-project-img"  [src]="constantsService.defaultImage">
            </div>
        </div>
        <br>
      <div>
        <div class="featured-project-heading">{{project.name}}</div>

        <div class="featured-project-text">
            {{ project && project.description | slice:0:200 }} ...
        </div>
      </div>
      <br>
      <div>
          <button class="button-colored" type="submit" [routerLink]="['/project/view',project.id]">LEARN MORE</button>
      </div><br><br>
    </div>
  </div>-->

  <div class="row" *ngIf="topThreeProjects">
    <div class="col s12 m4" *ngFor="let project of topThreeProjects">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" *ngIf="project.imageUrl">
          <img class="activator" [src]="project.imageUrl"
               onError="this.src='../../assets/default_image.png'">
        </div>
        <div class="card-image waves-effect waves-block waves-light" *ngIf="!project.imageUrl">
          <img class="activator" [src]="constantsService.defaultImage">
        </div>
        <br>
        <div class="card-content" *ngIf="project">
          <span class="card-title activator grey-text text-darken-4">{{project.name}}</span>
          <i class="activator material-icons right">more_vert</i>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{project.name}}<i
            class="material-icons right">close</i></span>
          <p>{{project.description}}</p>
        </div>
        <div class="card-action">
          <button type="submit" class="btn waves-effect waves-light button-colored"
                  [routerLink]="['/project/view',project.id]">LEARN MORE
          </button>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div class="card-action" id="see-more">
    <button type="submit" class="btn waves-effect waves-light button-colored btn-see-more"
    [routerLink]="['/project/list/projects']">SEE MORE</button>
  </div>
</div>
<div class="section no-padding">
  <div class="green-ribbon white-text ribbon-padding-top">
    <div class="row">
      <div class="col s12">
        A platform by volunteers, for volunteers<br>
        Contribute to our open source project
      </div>
      <div class="col s12">
        <a class="btn_github btn-large" href="https://github.com/Code4SocialGood/" target="_blank">
          Github Project<i class="mdi mdi-github-circle mdi-36px left" name="github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
