  
<!--<div class="action_volunteer">
    <div>
        LOREM IPSUM      
    </div>    
</div>-->
<!--<div class="cover">
    <img src="../../assets/pexels-photo-407237.jpeg">
</div>-->

<div class="action">
</div>

<div class="section no-padding">
    <div class="container">
        <div class="row">        
            <div class="col s3 offset-s5">
              <td class="input-field">
                <input #projectName id="name" type="text" class="input-pre">
                <label for="name">Project Keyword</label>
              </td>
              <td>
                <button class="btn waves-effect waves-light #84c44c search_button">
                    <i class="large material-icons transparent" >search</i>
                </button>
              </td>
            </div>                         
        </div>
    </div>
</div>
<div class="section green-ribbon">    
        <h4>GLOBAL NETWORK WHERE SOCIAL GOOD HAPPENS</h4>
</div>
<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m5">
          <div>
              <h5 class="center">VOLUNTEERS</h5>
                
            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus eu ipsum non consectetur. Aliquam eu gravida nulla, at semper dui. Maecenas in magna enim. Integer velit ligula, molestie id eleifend convallis, consequat sed tortor. Donec rutrum felis libero, ut suscipit nibh facilisis eu.</p>
          </div>
            <div class="center">
                <button type="submit">SIGN UP</button>
            </div>
            <div>
                <img src="../../assets/Volunteers_icons.svg">
            </div>
        </div>

        <div class="col s12 m5 offset-m2">
          <div>            
            <h5 class="center">ORGANIZATIONS</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus eu ipsum non consectetur. Aliquam eu gravida nulla, at semper dui. Maecenas in magna enim. Integer velit ligula, molestie id eleifend convallis, consequat sed tortor. Donec rutrum felis libero, ut suscipit nibh facilisis eu.</p>
          </div>
            <div class="center">
                <button type="submit">RIGISTER</button>
            </div>
            <div>
                <img src="../../assets/Organizations_icons.svg">
            </div>
        </div>

      </div>
        <div class="row">
            <div class="col s12 m2 offset-m5">
                <img src="../../assets/GreenArrow.svg">
            </div>
        </div>

    </div>    
</div>
<div class="section green-ribbon">    
        <h4>STAY CONNECTED AND MAKE AN IMPACT FOR BETTER WORD</h4>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <img width="100%" src="https://maps.googleapis.com/maps/api/staticmap?center=20,20&zoom=1&scale=false&size=640x250&maptype=roadmap&key=AIzaSyD9n6KasSkB0QvESMyH0tL8UhEtxjvEVrs&format=png&visual_refresh=true" alt="Code for Social Good Volunteer Locations">
        </div>
    </div>
</div>
<div class="section green-ribbon">    
        <h4>FEATURED PROJECTS</h4>
</div>
<div class="container">
    <div class="section">
        
      <div class="row">
        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>            
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">consectetur adipiscing elit. In dapibus eu ipsum non consectetur. Aliquam eu gravida nulla, at semper dui. Maecenas in magna enim. Integer velit ligula, molestie id eleifend convallis, consequat sed tortor.</p>
          </div>
        </div>

        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">consectetur adipiscing elit. In dapibus eu ipsum non consectetur. Aliquam eu gravida nulla, at semper dui. Maecenas in magna enim. Integer velit ligula, molestie id eleifend convallis, consequat sed tortor.</p>
          </div>
        </div>

        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>
            <h5 class="center">Lorem ipsum dolor sit amet</h5>

            <p class="light">consectetur adipiscing elit. In dapibus eu ipsum non consectetur. Aliquam eu gravida nulla, at semper dui. Maecenas in magna enim. Integer velit ligula, molestie id eleifend convallis, consequat sed tortor.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

