@import "../_style/app.theme";

/*.cover {
  height: 100vh;
  overflow: hidden;
}

.cover:before{
  content: '';
  position: absolute;
  width: 100vw;
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover img{
  position:relative;
  object-fit: contain;
  left: 0;
  top: 0;
  z-index: -2;
}

.action_volunteer {

    background: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.6), rgba(121, 195, 253, 0)), url("/assets/pexels-photo-407237.jpeg") no-repeat center center;
    background-attachment:fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // max-width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    justify-content: center;
    align-items: center;
    height: 99vh;
    text-align: center;
    //position: relative;
}
*/

//NEWLY CREATED
.img-text{
    color: #fff;    
    max-width: 45%;
    margin: auto;
    font-family: $main-font;
    font-size: 40px;
    font-weight: bold;    
}
.green-ribbon {
    background-color: $secondary-bg-color;
    text-align: center;
    font-family: $main-font;
    font-size: 22px;
    font-weight: bold; 
}

//second section
.second-section{
    text-align: center;
    font-family: $main-font;
    //max-width: 45%;
}
.second-section-heading {
    font-size: 28px;
    font-weight: bold;       
}
.second-section-text{    
    font-size: 18px;    
    //font-weight: bold;
}
.volunteer-heading{
    color: #0BAFAA;
}
.organization-heading{
    color: #F2673B;
}


//last section
.featured-project-heading{
    font-family: $main-font;
    font-size: 18px;
    font-weight: bold; 
    color: #84C44C;
}



.img-text-background{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;    
    text-align: center;
    position: absolute;
    bottom: 0px;    
}

.featured-project-img{
    max-height: 100%;
    max-width: 100%;
}

//classes for cover image
.cover {
  height: 100vh;  
  overflow: hidden;  
}

.cover:before{
  content: '';
  position: absolute;
  width: 100vw;
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover img{
    
  position:relative;
  object-fit: contain;
  left: 0;
  top: 0;
  z-index: -2;
    
  //max-width: 100%;
}

.action{
    background: url("/assets/pexels-photo-407237.jpeg");
        
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    
    height: 99vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    position: relative;        
}

//classes for project search

.input-pre {
  border-bottom: 2px solid $secondary-bg-color;
}
 /* label color */
 .input-field label {
   color: $main-color;
   top: 2rem;
 }
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
 color: $main-color !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid $main-color !important;
 box-shadow: 0 1px 0 0 $main-color !important;
}
.search_button {
  padding: 0 1rem;
}


//copied from materialize template
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}