  
<!--<div class="action_volunteer">
    <div>
        LOREM IPSUM      
    </div>    
</div>-->
<!--<div class="cover">
    <img src="../../assets/pexels-photo-407237.jpeg">
</div>-->

<div class="action">
    <div class="img-text-background">
        <div class="img-text">
            <div>LOREM IPSUM DOLOR SIT AMET CONSEQUAT</div>
            <div>GET STARTED NOW!</div> 
        </div>                      
    </div>    
</div>

<div class="section no-padding">
    <div class="container">
        <div class="row">        
            <div class="col s3 offset-s5">
              <td class="input-field">
                <input #projectName id="name" type="text" class="input-pre">
                <label for="name">Keyword</label>
              </td>
              <td>
                <button (click)="getProjectsByKeyword(projectName.value); projectName.value='';"                        
                        [@buttonState]="state"
                        (mouseover)="toggleState()"
                        (mouseout)="toggleState()"
                        class="btn waves-effect waves-light #84c44c search_button">
                    <i class="large material-icons transparent" >search</i>
                </button>
              </td>
            </div>                         
        </div>
    </div>
</div>
<br>
<div class="section no-padding">
    <div class="green-ribbon">    
            GLOBAL NETWORK WHERE SOCIAL GOOD HAPPENS    
    </div>
    <br><br>
    <div class="container">        
        <div class="row">
            <div class="col s12 m5">
              <div class="second-section">
                  <div class="second-section-heading volunteer-heading">VOLUNTEERS</div>                
                  <div class="second-section-text">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                  </div>
              </div>
                <br>
                <div class="center second-section-text">
                    <button class="button-bordered" type="submit">SIGN UP</button>
                </div>
                <br>
                <div>
                    <img src="../../assets/Volunteers_icons.svg">
                </div>
            </div>

            <div class="col s12 m5 offset-m2">
              <div class="second-section">            
                <div class="second-section-heading organization-heading">ORGANIZATIONS</div>
                <div class="second-section-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</div>
              </div>
                <br>
                <div class="center second-section-text">
                    <button class="button-bordered" type="submit">RIGISTER</button>
                </div>
                <br>
                <div>
                    <img src="../../assets/Organizations_icons.svg">
                </div>
            </div>

          </div>        
    </div>    
</div>
<div class="section no-padding">    
    <div class="container">        
        <div class="row">
                <div class="col s12 m2 offset-m5">
                    <img src="../../assets/GreenArrow.svg">
                </div>
            </div>
    </div>    
</div>
<div class="section no-padding">
    <div class="green-ribbon green-ribbon-two">    
            STAY CONNECTED AND MAKE AN IMPACT FOR BETTER WORLD
    </div>
    <div class="container">        
        <div class="row">
            <img width="100%" src="https://maps.googleapis.com/maps/api/staticmap?center=20,20&zoom=1&scale=false&size=640x250&maptype=roadmap&key=AIzaSyD9n6KasSkB0QvESMyH0tL8UhEtxjvEVrs&format=png&visual_refresh=true" alt="Code for Social Good Volunteer Locations">
        </div>
    </div>
</div>
<br>
<div class="section no-padding">
    <div class="white-ribbon">    
        FEATURED PROJECTS
    </div>
    <div class="container">      
      <div class="row">
        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>            
            <div class="featured-project-heading">LOREM IPSUM DOLOR SIT AMET</div>

            <div class="featured-project-text">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
          </div>
            <br>
            <div>
                <button class="button-colored" type="submit">LEARN MORE</button>
            </div>
        </div>
        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>
            <div class="featured-project-heading">LOREM IPSUM DOLOR SIT AMET</div>

           <div class="featured-project-text">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
          </div>
            <br>
            <div>
                <button class="button-colored" type="submit">LEARN MORE</button>
            </div>
        </div>
        <div class="col s12 m4">
            <div>
                <img src="../../assets/pexels-photo-407237.jpeg" class="featured-project-img">
            </div>
          <div>
            <div class="featured-project-heading">LOREM IPSUM DOLOR SIT AMET</div>

            <div class="featured-project-text">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
          </div>
            <br>
            <div>
                <button class="button-colored" type="submit">LEARN MORE</button>
            </div>
        </div>
      </div>
    </div>  
</div>
<br><br>

