<div class = "home-wrapper">
  <div class="action">
    <div id = "aniSlogan">
      It doesn't matter if you
        <br> code for <span id = "aniWord" [@toggleColor]="wordColorIndex">{{aniWord}}</span>
        <span [@cursorFlash]="cursorState">&nbsp;_</span><br>
        Get started now!
    </div>
    <div class="input-field">
      <td class = "input-field">
        <input #projectName id="name" (keyup.enter)="getProjectsByKeyword(projectName.value); projectName.value='';" type="text" class="input-pre">
        <label for="name">Project Keyword</label>
      </td>
      <td>
        <button type="submit"  [@buttonState]="state"
                 (click)="getProjectsByKeyword(projectName.value); projectName.value='';"
                 routerLink="/project/list/home"
                 (mouseover)="toggleState()"
                 (mouseout)="toggleState()"
                 class="btn waves-effect waves-light #84c44c search_button">
            <i  class="large material-icons transparent" >search</i>
        </button>
      </td>
      <div>
      </div>
    </div>
  </div>
</div>

