<div class="card">
  <div class="card-content">
    <div class="row single-info">
      <div class="col m4">
        <div class="info-avatar">
          <my-project-image [project]="project"></my-project-image>
        </div>
      </div>
      <div class="col m8">
        <div class="name">
          <a [routerLink]="['/project/view/', project.id]">{{project.name}}</a>
        </div>
        <div>
          <div class="skills-tag-wrapper">
            <ul *ngIf="project.skills">
              <li class="chip" *ngFor="let skill of project.skills">{{ skill }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="description" *ngIf="project && project.description">{{ project && project.description | slice:0:100 }} ...</p>
  </div>
</div>
